@media (max-width: 1000px) { #home-wrap {
  display: flex;
  flex-direction: column;
  
} 
#sub-heading{padding:1rem!important;}
}

/* body {background-image: url('/img/g.gif')} */

#sub-heading {
  text-align: left;
  font-family: "Linden Hill";
  font-size: 1.5rem;
  line-height: 2.5rem;
  /* align-self: center; */
  padding: 2rem;
}

h1 {
  font-size: 5rem;
  font-family: "Lora", serif;
  margin: 20px 0;
}

#email-1 {
  text-align: right;
  font-family: "Linden Hill";
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin-top: 2rem;
  color: #333;
  /* align-self: center; */
  margin-right: 2rem;
}

#email-1 a {
  text-decoration: none;
  color: #111;
}

#home-wrap {
  display: flex;
  height: 100vh;
}

#lede-1{font-size: 1.75rem;font-weight: bold;}
#lede-2 {
  text-align: right;
  font-size: 2.3rem;
  margin-top: 0px;
}

#gh1-right {
  color: #111;
}

#left,
#middle {
  align-self: center;
  
  }
  
#right {width: 15px;}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  padding: .35rem 0;
}

#decoration-1 {
  display: flex;
  justify-content: space-around;
  
}

@media (min-width: 1000px) {  }