___
#
___

#wordlogo {
    font-size: 5rem;
    font-family: "Lora", serif;
    margin: 20px 0;
    text-align: center;
  }

  nav ul {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  
  nav ul li {
    padding: .35rem 0;
  }

  #sidebar{
      width: 27rem;
      background: gray;
      display:flex;
      height: 100vh;
      /* position: fixed;   */
           
    
    }
         #sidebar-content-wrap{
            align-self: center;
            width: 27rem;
        }
  #content{
       
      width: 75rem;
      align-self: flex-end;
      flex-shrink: 1;
      
  }

  body{
      display: flex;

  }

  html{
      font-size: 16px;
  }

