--- 
title: home | genre2
--- 
{%include head.html%}
<!-- this uses foundation xy grid -->
<!-- this corresponds to _homepage-v4.scss -->
<body class="site">
    {%include header.html%}
    <div class="thick-bar" style="color:#444;"><div class="inline fs13r" >Our mission is simple:</div><span class="homepage-subsection-little-text fs11r"> We publish writers’ best work outside their primary genre. </span></div>
    <div class="page-content" id="homepage-page-content">
        <div class="grid-container">
           
            <div class="grid-x">
                    <div class="cell small-12 large-8">
                            <section id="current-issue-section">
                                <h2 class="current-issue">current issue</h2>
                                    <div class="grid-x">
                                        <div class="cell small-12 medium-4">
                                            <div class="cover-image-wrap">
                                                    <img src="/img/01_pattern.jpg" alt="genre2 issue 1 cover" width="250">
                                                    <!-- <h3 class="cover-image-text">1</h3> -->
                                                </div>
                                        </div>
                                        <div class="cell small-12 medium-8 yayo">
                                                {%include issue-1-contents.html%}
                                            </div>
                                    </div>
                                       

                            </section>
                    </div>
            <sidebar class="cell small-12 large-4">
                <section id="featured-homepage-section" class="homepage-subsection">
                    <p>
                        <h3 class="colorful-heading">Featured Piece:</h3>
                            <span class="homepage-subsection-little-text">Undressing the Trees,</span> <span class="homepage-subsection-littler-text"> an essay by the poet Chelsea Dingman
                        
                    </p>
                    <!-- <p>In this piece Dingman does a bunch of snazzy shit that will blow you're fucking mind and your regular mind. Check
                        it out!</p> -->
                </section>
                <section id="featured-homepage-section" class="homepage-subsection">
                    <h3 class="colorful-heading">The g2 interview:</h3>
                        <span class="homepage-subsection-little-text">Robert James Russell</span>
                    
                    <h4 class="homepage-interview-question">What challenges or surprises did you encounter while working in this genre?</h4>
                    <p class="homepage-interview-answer">This is a brief excerpt to entice some motherfuckers because, well, motherfuckers need enticement...</p>
                </section>
            </sidebar>


              
         
 </div> </div></div>

      
    


{%include footer.html%}
</body>

</html>