---
title: home
---
{%include head.html%}

<body>
    {%include sidebar.html%}



    <div class="container cl-effect-1" id="homepage-content-container">
        <div id="homepage-standin-content">
            <div id="homepage-mission">
                <p>
                    <span id="lede-1">Our mission is simple:</span>
                    <br>
                    <span id="lede-1__content">
                        Publish writers’ best work outside their primary genre. Because pushing our boundaries and moving beyond our comfort zones
                        creates the possibility for diverse, exciting, and unexpected results.
                    </span>
                </p>
                <p></p>
                <p id="lede-1__content-2"> So, if you consider yourself a “fiction writer,” we want to see your poems or your CNF or your visual art.
                    If you’re a “poet,” send us your short stories, graphic narratives, etc. etc.</p>

                <p id="lede-3">
                    Surprise us by surprising yourself.
                    <!-- <span id="vader"></span> -->
                </p>

                </p>

            </div>
            <div id="homepage-more-info">
                <p>
                    We're currently building our first issue.
                    <br>Look for it in Summer 2018.
                    <br>
                    <a href="mailto:genre2mag@gmail.com" >genre2mag@gmail.com</a>
                    <br>
                    <a href="https://twitter.com/genre2mag">
                        <img src="/img/twitter.svg" height=16px alt="Twitter icon" id="twitter-svg">genre2mag</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>