---
---
{%include head.html%}

<body>
    <div id="home-wrap">
        <div id="left">
            <img src="/img/3-250.jpg" width=200 height=200 alt="" style="display:block;margin: 0 auto;">
            <div id="wordlogo">
                genre<span>2</span>

            </div>
            <nav>
                <ul>
                    <li>about</li>
                    <li>current</li>
                    <li>archives</li>
                    <li>submit</li>
                    
                </ul>
            </nav>
        </div>
        <div id="middle">
            <ul>
                {% for post in site.posts %}
                   <li>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                </ul>

            <div id="sub-heading">
                <p>
                    <span id="lede-1">Our mission is simple:</span> to publish writers’ best work outside their primary genre. In pushing our
                    boundaries and moving beyond our comfort zones, we create the possibility for diverse, exciting, and
                    unexpected results.
                </p>
                <p>So, if you consider yourself a “fiction writer,” we want to see your poems or your CNF or your visual art.
                    If you’re a “poet,” send us your short stories, graphic narratives, etc. etc.

                    <p id="lede-2">
                        Surprise us by surprising yourself.
                        <!-- <span id="vader"></span> -->
                    </p>

                </p>

            </div>
            <div id="email-1">
                <p>
                    We're currently building our first issue.
                    <br>Look for it in Summer 2018.
                    <br>
                    <a href="mailto:genre2mag@gmail.com">genre2mag@gmail.com</a>
                    <br>
                    <a href="https://twitter.com/genre2mag">
                        <img src="/img/twitter.svg" height=16px alt="Twitter icon">genre2mag</a>
                </p>
            </div>
        </div>

        <div id="right">&nbsp;
        </div>
    </div>


   


</body>

</html>