---
title: masthead | genre2
---
{%include head.html%}

<body>
    {%include header.html%}
   
 
    <h2>Masthead</h2>    
        <h3>Editors</h3>
        <p><strong>Ashley Kunsa</strong> is a fiction writer who makes occasional forays into the worlds of poetry and nonfiction. She has no visual arts capabilities whatsoever. Ashley’s work appears or is forthcoming in many journals, including Sycamore Review, The Forge Literary Magazine, The Los Angeles Review, and Summerset Review. She is Visiting Assistant Professor of Creative Writing at Rocky Mountain College in Billings, MT. Find her online at <a href="http://www.ashleykunsa.com">www.ashleykunsa.com</a> or on Twitter <a href="https://twitter.com/ashleykunsa">@ashleykunsa</a>.</p>
        <p><strong>Brad Coffield</strong> writes fiction and lots of code. He once penned a poem about an eagle soaring high above the world’s injustices. He was 16, so you know it was as awesome as it sounds. Brad’s fiction has been published in Pittsburgh’s City Paper and Yellow Chair Review, and he is at work on a novel about a strip club in small-town West Virginia. Visit his website at <a href="https://www.bradcoffield.com">www.bradcoffield.com</a> or connect with him via Twitter <a href="https://twitter.com/bradcoffield">@bradcoffield</a>.</p>
        <p><strong>Mike Durkota</strong> writes fiction and spends more time in pool halls than he probably should. Mike once wrote a poem about his cat, Coconut; even at the age of eight he had a flair for alliteration. His first novel, Once in a Blue Year, is available on Amazon. His second novel has been “almost done” for two years; the title changes monthly. Find him online at <a href="http://www.durkota.net">http://www.durkota.net</a>  or on Twitter <a href="https://twitter.com/durk13">@durk13</a>.</p>         <p id="hey-i-need-some-space-down-here-before-i-get-a-proper-footer">&nbsp;</p>  </div> 

</body>
</html>

       