--- 
title: submit 
--- 
{%include head.html%}

<body>
    {%include header.html%}
    <h2>Submit to genre2</h2>
    <p>
        Genre2 accepts previously unpublished fiction, creative nonfiction, poetry, visual art, graphic narrative, and other genres
        that we’re not hip enough to think of at the moment. If it’s not your main gig, we want to read it.</p>
    <p>
        We’re currently putting together our first issue, due out Summer 2018. Beginning with our second issue, we invite submissions
        from all writers interested in testing their limits. To submit, please send 3–6 poems, fiction or nonfiction of 7500
        words or less (flash welcome!), or up to 10 images to
        <a href="mailto:genre2mag@gmail.com">genre2mag@gmail.com</a>.
    </p>

    <p>
        Simultaneous subs welcome, though please send only one submission at a time. We aim to respond to all work within two months.
    </p>

    <p>Questions or comments?
        <a href="mailto:genre2mag@gmail.com">Email us!</a> And follow us on Twitter
        <a href="https://www.twitter.com/genre2mag" target="_none">@genre2mag</a>!
    </p>

    </div>
</body>

</html>