---
author_id: 001
author_name: Amanda Balter
genre: Poetry
usual_genre_grammared: academic writer
issue: 1
title: Two Poems
categories: issue1
layout: creative-post
private_email: Amanda.balter@gmail.com
bio: Amanda Balter is a recent graduate from Rocky Mountain College in Billings, Montana where she majored in Philosophy & Religious Studies. Outside of her schooling, she is an active member at her church and volunteers regularly. She enjoys reading and writing poetry as well as painting with her younger brother, searching for the best hot chocolate, and cross country skiing in Montana's backyard. In the future, she hopes to pursue graduate study in the liberal arts.
interview_1: Academic writing. I feel the safest within the bounds of a thesis statement.
interview_2: The need to express something rather than argue a point, as I would in a piece of academic writing. 
interview_3: I was surprised to find that the craft of poetry is equally, if not more, particular than academic writing. While there is undoubtedly freedom within the genre, the art of perfecting a line, choosing the word with the best sound, mastering the overall rhythm, etc. was both challenging and satisfying. I found the more I worked with poetry, the more my academic writing excelled. Poetry teaches the importance of the details—something I’m not sure I could have learned without exploring this genre. 
---
 
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2">

            <h2 class="piece-title">
                SADNESS IS LIKE SICKNESS, IT GETS WORSE AT NIGHT
            </h2>
            <span class="poem">
                in the morning when a heart thud wakes me up<br> the memories say good morning, beautiful<br> your face might
                as well be red blood cells<br> running the entire hellish system<br> but the mind is exempt<br> the mind
                is not affected by the time<br> of day the routine of sunlight<br> the mind is a rabid animal<br> only the
                immunized can fight<br> i’ve trained this animal<br> with daily shots<br> not to pay<br> attention to<br>                the
                rise &amp;<br> fall of<br> sadness
                <br>
            </span>
            <br>
            <h2 class="piece-title">Sorrow</h2>
            <span class="poem">
                “The real world doesn’t care <br> about our spiritual conditions,<br><br> just asks that we will be decent
                enough <br> to smile at its clamor,” the poet said.<br><br> Diamonds are gemstones <br> but do they always
                shine?<br> to my thoughts. The sun<br><br> yawns only when<br> the moon sleeps.<br><br>
                <span class="italics">Can you give a better explanation?</span><br> No.
                <br><br> The cactus thorns thrive<br> in the lion’s mouth. I’m hungry<br><br> for orchids. <span class="italics">
                    Water with rosewater<br> three times a day.
                </span><br><br> Too much, too many, no.<br> These weeds flourish<br><br> between neurons—<br> no, they grow
                at night<br><br> with the moon<br> before the sun wakes.
            </span><br><br>


            <div class="person-bio-box">
                {{page.bio}}
            </div>

            {%include sharing-buttons.html%}

        </div>

        <div class="cell medium-12 large-4">
            <!-- <div class="initials-in-a-circle">AB</div>  -->

            {%include piece-sidebar.html%}

        </div>
    </div>



</div>