---
author_id: 002
author_name: Ann Lightcap Bruno
genre: Poetry
usual_genre_grammared: fiction writer
issue: 1
title: Man Hole
categories: issue1
layout: creative-post
---
<div class="grid-container">

        <div class="grid-x grid-padding-x grid-margin-x">
            <div class="cell small-12 large-8 lets-read-it-2">
                <h2 class="piece-title"> {{page.title}} </h2>
            
                The boy must have done it late at night, <br>
                fuck-you-body-slam against the wall, <br>
                or hurled baseball trophy, impaled broom, <br>
                perhaps that old cliché, the fist-- <br>
                in time for breakfast there it was-- <br>
                emblem of some rage or hurt, <br>
                some disgrace, heartache even, mine, too, tacit, <br>
                shrugged off by his father: <span class="italics">Typical</span>, he said. <br>

                <br>
                
For months, then the better part of that year, <br>
it gaped raw and torn. Every day coming down <br>
to eat or leave, there, at the foot of the stairs <br>
an unhealing venous ulcer, it was something  <br>
to ignore though impossible. <br>

<br>

In the first days of January,  <br>
at Home Depot for rock salt, <br>
I was the one who found a man and asked  <br>
what we needed. Nonplussed, <br>
he took us to aisle 14. <br>
I raised boys myself, he said. <br>

<br>

At home, his father cut a clean square from the drywall with a razor, <br>
removing the blasted center, and the boy <br>
flattened the mesh panel with the expanse of his hand <br>
but both lost interest after the first layer <br>
or so of slathering joint compound <br>
and so it became mine to fix. <br>
Six layers for the hole to close, <br>
six layers of my smoothing it on  <br>
like icing a cake before writing someone’s name, <br>
then sanding with the finest paper I could find, <br>
then waiting for the surface to dry completely <br>
before starting it all again, and finally <br>
painting the wall a new color, some deep <br>
deep blue I liked: Ravine, Sanctuary, Adriatic. <br>
I can’t recall. They don’t make it anymore. <br>

<br>

In the right light I can see the apparition <br>
of the patch beneath the paint, its lattice softly ridged. <br>
No one seems to notice it but me--still, <br>
I might have been more patient. <br>




                <div class="person-bio-box">
                        {{page.bio}}
                    </div>
        
                    {%include sharing-buttons.html%}
                </div>
            </div>
       
    
            <div class="cell medium-12 large-4">
                     
        
                    {%include piece-sidebar.html%}
        
                </div>
</div>
 