---
author_id: 005
author_name: Dave Housley
genre: Poetry
usual_genre_grammared: fiction writer
issue: 1
title: The Ancient Astronaut Theorist
categories: issue1
layout: creative-post
---
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2">
            <h2 class="piece-title"> {{page.title}} </h2>

            <span class="poem">
    The ancient astronaut theorist believes <br>
    there is a chance the Egyptians had help from the sky. <br> 
    He believes those flying cars in the Ramayana <br>
    are more than translation errors. <br>
    The ancient astronaut theorist believes <br>
    it is folly, hubris, pomposity <br>
    to accept that you can know we are alone <br>
    in the unknowable universe. <br>
    <br>
    The ancient astronaut theorist believes <br>
    the Syfy producer when she says <br>
    they are looking for a new Giorgio, <br>
    a younger Giorgio, a Giorgio for the millenials. <br> 
    The ancient astronaut theorist believes the Syfy producer <br>
    but wishes she would use the word “Giorgio” less <br>
    when she tells him about her wishes. <br>
    <br>
    The ancient astronaut theorist believes <br>
    his appearance on the one about Shiva the Destroyer <br> 
    did not do him any favors with the department,  <br>
    even though he was careful to point out <br>
    that no scientific evidence exists <br>
    to indicate that Shiva really was an alien leader <br>
    who brought advanced technology to earth, <br>
    or that her third eye was not a third eye <br>
    but a raygun that shot fire out of her forehead. <br> 
    The ancient astronaut theorist believes <br>
    still that it defies both logic and history <br>
    to imagine they could have carved the entire Kaisana Temple <br> 
    out of a single piece of rock, <br>
    twelve hundred years ago. <br>
    <br>
    The ancient astronaut theorist believes <br>
    the other adjuncts are calling him <br>
    Shiva the Destroyer. It is not <br>
    a compliment, far from a compliment <br>
    and still-- <br>
    a single piece of rock? <br>  
    Twelve hundred years? <br>
    It is unfathomable, folly, hubris. <br> 
    It is his curse and his gift: <br>
    he can fathom it only one way. <br>
    <br>
    The ancient astronaut theorist believes <br>
    these Wheaties are becoming stale, <br>
    have become stale, are stale. <br>
    He believes the boiler <br>
    will need to be replaced. <br>
    Diapers are so expensive. <br>
    The Discover bill is due in three days. <br>
    <br>
    The ancient astronaut theorist believes<br>
    he hears the baby stirring upstairs, <br>
    the birds singing, cars driving, <br>
    the baby cries her primitive cry. <br>
    <br>
    The ancient astronaut theorist believes.  
            </span>

        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>