---
author_id: 007
author_name: Gregory Lawless
genre: Fiction
usual_genre_grammared: poet
issue: 1
title: Perfect Hoop
categories: issue1
layout: creative-post
private_email: gregorylawless@gmail.com
bio: Gregory Lawless is the author of I THOUGHT I WAS NEW HERE (BlazeVOX Books, 2009), FAR AWAY (Red Mountain Poetry Press, 2015), and DREAMBURGH, PENNSYLVANIA (Dream Horse Press, forthcoming).
interview_1: Poetry. Mostly out of habit at this point. But I do appreciate that poetry can look so much fiction or dramatic literature, if you need it to. When I showed some of the stories that I've been working on recently to my wife (including the one published here), she asked if they were poems, which is a good question, and one that doesn't quite have an answer.
interview_2: Cause Brad asked me and Brad is great. Also, I'm constantly looking for an artistic escape route of some sort. Whenever I can shift into a mode (like prose poems, monologues, fiction, whatever) that can enable me to write differently and with fewer restraints (like getting up and walking the aisles a bit during a long flight), I relax a little, and start to do something a new (for me), which helps me tell the difference between art and, say, grading papers or lesson planning. 
interview_3: "The sheer mass of fiction, even with relatively short short stories, can be overwhelming. I tend to write short poems with short lines, so moving from margin to margin leaves me a little winded. But the big surprise, in this case, was that I could write a story the same way I write poems: driven by instinct and a kind of inner momentum, trusting that I'd arrive somewhere meaningful if I just sat still long enough and listened. Fortunately, given my great size and phlegmatic disposition, I have both a gift and a passion for sitting still."
---
<div class="grid-container">
           
        <div class="grid-x grid-padding-x grid-margin-x">
                <div class="cell small-12 large-8 lets-read-it-2">
<h2 class="piece-title"> {{page.title}} </h2>

<p class="text-right">
    “Basketball, basketball, basketball…”
                            Brendan O’Hare
</p>
<p class="post-paragraph">In my hands I hold a round orange ball the size of my father-in-law’s head. Both the ball and the head are perfect. I raise the ball and get ready to give it the “Big Push.” I take a thick breath, hold it for eight seconds, clap my knees together, and raise the ball to one of my shoulders. 
</p>
<p class="post-paragraph">Then, I leap!</p>

<p class="post-paragraph">
    Pushing the ball at the difficult circle, a mile away. Afterwards, I clang to the floor. 
</p>
<p class="post-paragraph">
    The ball sails and sails, before disappearing entirely. 
</p>
<p class="post-paragraph">
    Whether it goes in or not is a mystery. I call my father-in-law and ask him, “Did I get it in the net? Did I make the points?”
</p>
    <p class="post-paragraph">
        “Dunno,” he says. That’s all he ever says. 
        
    </p>
    <p class="post-paragraph">
        Basketball!
    </p>
    <br class="post-whitespace">
<p class="post-paragraph">
    
    I go to the basketball court alone. I am there to practice: jumps, kick shots, banker-balls, rolling around. I hoot the ball up into the rafters and run about like a jackal so it doesn’t catch me. 
</p>
<p class="post-paragraph">
    I am a great player, a visionary, the only guy ever to pull off the trick of being two different places on the court at the same time. And still I come here, to get better, to lengthen myself, height being key. To do the perfect game.
</p>
<p class="post-paragraph">
    I open the gym. No one is there. The lights are off and for a while, I push baskets in the dark. I miss everything. I always practice missing first. It is far harder for me to miss than to make.
</p>
<p class="post-paragraph">
    After I push a few misses, I throb on the lights. They’re terrific: red, green, blue, yellow. I feel like a honeybee. I stab the ball with my ass. I roar!
</p>
<p class="post-paragraph">
    Then the janitor comes in to check things out. Gives me this You-okay stare? I’m fine, I stare back. He picks up an orange round basketball and starts pushing some jumpers. They all hit their target. He’s a heavy man, loaded with keys. Every basket sounds like a piggybank cracking open. He is a true ace. Maybe my equal. 
</p>


<div class="person-bio-box">
    {{page.bio}}
</div>

{%include sharing-buttons.html%}
 </div>

<div class="cell medium-12 large-4">
        <!-- <div class="initials-in-a-circle">AB</div>  -->
      
       {%include piece-sidebar.html%}
        
        </div>
 
    
    
    
    </div></div>