---
author_id: 006
author_name: Gregory Lawless
genre: Fiction
usual_genre_grammared: poet
issue: 1
title: Perfect Hoop
categories: issue1
layout: creative-post
private_email: gregorylawless@gmail.com
bio: <span class="author-bio-name">Gregory Lawless</span> is the author of <span class="italics">I Thought I Was New Here</span> (BlazeVOX Books, 2009), <span class="italics">Far Away</span> (Red Mountain Poetry Press, 2015), and <span class="italics">Dreamburgh, Pennsylvania</span> (Dream Horse Press, forthcoming).
interview_1: >
    Poetry. Mostly out of habit at this point. But I do appreciate that poetry can look so much like fiction or dramatic literature, if you need it to. When I showed some of the stories that I've been working on recently to my wife (including the one published here), she asked if they were poems, which is a good question, and one that doesn't quite have an answer.
interview_2: >
    'Cause Brad asked me and Brad is great. Also, I'm constantly looking for an artistic escape route of some sort. Whenever I can shift into a mode (like prose poems, monologues, fiction, whatever) that can enable me to write differently and with fewer restraints (like getting up and walking the aisles a bit during a long flight), I relax a little, and start to do something new (for me), which helps me tell the difference between art and, say, grading papers or lesson planning. 
interview_3: >
    "The sheer mass of fiction, even with relatively short short stories, can be overwhelming. I tend to write short poems with short lines, so moving from margin to margin leaves me a little winded. But the big surprise, in this case, was that I could write a story the same way I write poems: driven by instinct and a kind of inner momentum, trusting that I'd arrive somewhere meaningful if I just sat still long enough and listened. Fortunately, given my great size and phlegmatic disposition, I have both a gift and a passion for sitting still."
---

<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2">
         
            <h2 class="piece-title"> {{page.title}} </h2>

            <p class="text-right">
                “Basketball, basketball, basketball…” Brendan O’Hare
            </p>
            <p class="post-paragraph">In my hands I hold a round orange ball the size of my father-in-law’s head. Both the
                ball and the head are perfect. I raise the ball and get ready to give it the “Big Push.” I take a thick breath,
                hold it for eight seconds, clap my knees together, and raise the ball to one of my shoulders.

            </p>
            <p class="post-paragraph">Then, I leap!</p>

            <p class="post-paragraph">
                Pushing the ball at the difficult circle, a mile away. Afterwards, I clang to the floor.

            </p>
            <p class="post-paragraph">
                The ball sails and sails, before disappearing entirely.
            </p>
            <p class="post-paragraph">
                Whether it goes in or not is a mystery. I call my father-in-law and ask him, “Did I get it in the net? Did I make the points?”
            </p>
            <p class="post-paragraph">
                “Dunno,” he says. That’s all he ever says.

            </p>
            <p class="post-paragraph">
                Basketball!
            </p>
            <br class="post-whitespace">
            <p class="post-paragraph">

                I go to the basketball court alone. I am there to practice: jumps, kick shots, banker-balls, rolling around. I hoot the ball
                up into the rafters and run about like a jackal so it doesn’t catch me.

            </p>
            <p class="post-paragraph">
                I am a great player, a visionary, the only guy ever to pull off the trick of being two different places on the court at the
                same time. And still I come here, to get better, to lengthen myself, height being key. To do the perfect
                game.
            </p>
            <p class="post-paragraph">
                I open the gym. No one is here. The lights are off and for a while, I push baskets in the dark. I miss everything. I always
                practice missing first. It is far harder for me to miss than to make.
            </p>
            <p class="post-paragraph">
                After I push a few misses, I throb on the lights. They’re terrific: red, green, blue, yellow. I feel like a honeybee. I stab the ball with my ass. I roar!

            </p>
            <p class="post-paragraph">
                    Then the janitor comes in to check things out. Gives me this <span class="italics">You-okay</span> stare? <span class="italics">I’m fine</span>, I stare back. He picks up an orange round basketball and starts pushing some jumpers. They all hit their target. He’s a heavy man, loaded with keys. Every basket sounds like a piggybank cracking open. He is a true ace. Maybe my equal. 
            </p>
<p class="post-paragraph">Once he’s gone, I get down to business. Hoop, ball, self. I take the round orange basketball, stuff it under my shirt, and charge the hoop. Arrrrrrgh! I scream. The hoop cowers: two points.
    </p>
<p class="post-paragraph">Then I practice spinning the ball on my shoulder. My shoulder calluses are so thick I could do this for days. 
        After that, I do windmills, catapults, trampoline dunkers. I wheel out the archery targets and then quietly wheel them back. A horn sounds. Halftime. 
        </p>
<p class="post-paragraph">I get a drink—water, fresh from the hose.
    </p>
<p class="post-paragraph">I take the orange round basketball out of the oven, where I left it.
    </p>
<p class="post-paragraph">Then I go to one end of the court and frog jump for a while. Once my knees are nice and greasy, I rise. I am Picasso in sweats. I blow a whistle…and then panic.
    </p>
<p class="post-paragraph"><span class="italics">No, no, no,</span> I say. <span class="italics">It’s just your whistle. Stop screaming. Come out from under the bleachers. It’s safe. Death doesn’t know about this place. No one is guarding the hoop. The heat is perfect. Hear that echo? Just you and the sound of everything you did one second ago. You are ready: crouch, hop, elongate!</span>
    </p>
<p class="post-paragraph">I do. I rush the middle of the floor, the part with the circle. I’m smacking the orange round basketball hard with my flat hand. I feel as though I’m shouldering a ton of earth, like a retaining wall, but that’s just the speed. The speed is outrageous. It hurts my ears, flaps my mouth wide like a catfish as I chug the moist air.
    </p>
<p class="post-paragraph">When I get to the free-throw line, I come to a total and screeching stop. It takes a second for time to catch up to me. The world jiggles into place, a whooshing supersonic pop roasting a hatch of lights on the twittering scoreboard.</p>
<p class="post-paragraph">Then I jump, straight up, many feet high. When my eyes are level with the hoop, I begin to swirl. A force snakes through my sweat suit like a great wind through a greeting-card store. I push with all my might the orange round basketball, which fears everything but my hands and the golden hoop.
    </p>
<p class="post-paragraph">The ball smashes into the backboard and trickles obediently into the ring, like a scoop of peanut butter. I float down. My feet smooch the varnish. The ball lands with a thud and doesn’t bounce. It sleeps until I tell it otherwise. 
    </p>
<p class="post-paragraph"><span class="italics">Otherwise</span>, I say. The ball stirs and then lopes to join me. 
    </p>
<p class="post-paragraph"><span class="italics">My falcon</span>, I say. </p>
<p class="post-paragraph">Only then do I realize that I haven’t landed on the ground, but in my father-in-law’s shiny hands. He holds me as I nurse the ball back to life. After a moment he tosses me into a dolly full of towels. I know what this means. I must dry off, prepare for the game.
    </p> <br>
<p class="post-paragraph">Game Time…
    </p> <br>
<p class="post-paragraph">Ordinarily, there are 10 players, two teams, but because of my rare skills I take on a gaggle of men, all alone. We stand at the center court. My father-in-law is the ref. As befits the strange rules of this game, he is not only everyone’s ref, but everyone’s father-in-law as well. Our wife takes up the entire bleachers. She cheers for everything.
    </p>
<p class="post-paragraph">My father-in-law lifts the round orange basketball into the air, which is my demesne. Up there, I’m a bat, squeaking my own squalid language of technology and bugs. I zip to the ball and tuck it safely beneath my wing. 
    </p>
<p class="post-paragraph">The others are below. I am their weather. They must bear me, wait me out. They must build their houses to account for me, my peculiar force and murk. I scatter toward the net and boom the ball down into its circular grave.
    </p>
<p class="post-paragraph">Thunder, cheers, gasps. I alight at half court.
    </p>
<p class="post-paragraph">Now it is the other team’s turn. One man stands out of bounds and heaves the ball, chest-wise, at a partisan. They wear the same maroon underwear. Why didn’t they camouflage themselves? I can see them perfectly. 
    </p>
<p class="post-paragraph">I slalom toward the grumpiest of their men. He is a ball eater. I know the type. He would slice the orange round basketball into segments and devour it if he were alone. Being part of a team, though, he is never alone, and thus, he is the point guard. I trip him with a shovel. The lights dim and then revive. I somersault toward the scalding hoop, too fast for revision, a myth in sneakers. 
    </p>
<p class="post-paragraph">I am naked but for my sneakers, though I have painted myself with indigo. I soar toward the circle and deposit the round orange basketball, quickly, almost guiltily, like I’m returning an overdue movie to an empty Blockbuster.
    </p>
    <p class="post-paragraph">Six hours later, the score is 1000 to nothing. The Visitor’s slot on the scoreboard can only read NOTHING. It isn’t that their goals will never be counted, no. It is just that basketball is the realm where only my success is possible.
        </p>
    <p class="post-paragraph">By now the other men are shuddering behind a single Gatorade cooler. My wife is just my wife now, having abandoned them. My father-in-law no longer their sanity and mentor, as he is for me.
        </p>
    <p class="post-paragraph">There is only one thing left to do.
        </p>
    <p class="post-paragraph">My wife carries me to the roof while my father-in-law drives away. Birds wheel in the smog. Traffic snorts and lapses below. No one is allowed to see me play, though many come to the gym and stand outside, just to listen. They say it sounds like an orgy of flutes and cymbals. What does it smell like? I ask, before my wife clamps shut my mouth and ears.
        </p>
    <p class="post-paragraph">On the roof, I pound the wan ball into buckling tarpaper. My father-in-law is on another roof, all the way across town. That roof has a basketball goal. The circle is just as wide as the ball. 
        </p>
    <p class="post-paragraph">I am freezing. I have sweated off the indigo. Once the basketball flees from my naked body, my wife will once again be ashamed. </p>
    <p class="post-paragraph">But I am here to do the perfect hoop, in my zone of dreams, to push the round orange basketball into the future and wait for news of its fate, back here on the roof of the now.
        </p>
    <p class="post-paragraph">Suddenly all my signals sing at once. My father-in-law tweaks the lights of his ambulance. He pounds a dull gong with a wad of mud. He tears at his shirt and screams.
        </p>
    <p class="post-paragraph">I fish the round basketball, orange, never brown, the brown ones are poison, out of an oaken barrel. I swipe away the brine. I ready myself for the Big Push.
        </p>
    <p class="post-paragraph">The ball gushes from my shoot-hand with a whiskery backspin belying its dread speed. I blackout and awake moments later in a pool of vomited bubble gum and sunflower seeds.
        </p>
    <p class="post-paragraph">I call my father-in-law, the great man.
        </p>
    <p class="post-paragraph">He answers the phone. 
        </p>
    <p class="post-paragraph">“Did I do it, the perfect hoop? Did I cleave the iron ring?”
        </p>
    <p class="post-paragraph">And this time he just breathes at me, rubbing his stubble against the phone, a great static piercing us, joining our bodies together across all this terrible space.
        </p>
 
                
            <div class="person-bio-box">
                {{page.bio}}
            </div>

            {%include sharing-buttons.html%}
            <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/dave-housley.html"><img src="/img/icons8-back-80.png" width="45" alt="" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/morris-collins.html"><img src="/img/icons8-forward-80.png" width="45" alt="" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
        </div>

        <div class="cell medium-12 large-4">
            <!-- <div class="initials-in-a-circle">AB</div>  -->

            {%include piece-sidebar.html%}

        </div>




    </div>
</div>