---
author_id: 008
author_name: Paul Siegell
genre: fiction
usual_genre_grammared: poet
issue: 1
title: Fraternity Brothers
categories: issue1
layout: creative-post
bio: <span class="author-bio-name">Paul Siegell</span> is the author of <span class="italics">Take Out Delivery</span> (Spuyten Duyvil, 2018), as well as <span class="italics">wild life rifle fire, jambandbootleg,</span> and<span class="italics"> Poemergency Room</span>. He is a senior editor at <span class="italics">Painted Bride Quarterly</span> and has contributed to <span class="italics">American Poetry Review, Black Warrior Review, Rattle</span>, and many other fine journals. Kindly find more of his work—and concrete poetry t-shirts—at <a href="http://paulsiegell.blogspot.com">ReVeLeR @ eYeLeVeL</a> and <a href="https://www.twitter.com/paulsiegell">@paulsiegell</a>.
interview_1: > 
    Poetry. It's just how my brain works. It's my default setting. 
interview_2: >
    It couldn't be done as a poem. Or, rather, <span class="italics">I</span> couldn't do it as a poem. There's too much set up and the characters needed a bit more room. I didn't want to rush the scenes. Felt right to let the line breaks go. 
interview_3: >
    Writing in full sentences was a bit of a trip. And the choreography of the characters was something that I really had to think about. I still wanted to write with concision, so figuring out what wasn't important to the plot—even having a plot—was kind of an extra step for me. A fun challenge all around. 
---
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>

            <p class="post-paragraph first-p">
                A little later they come out of the dorms, and in the sun, surprised, his father recognizes someone in the confusion of move-in day.
            </p>
<p class="post-paragraph">
    
                “—Are you <span class="italics">Ethan</span>?” 
                
</p>
            <p class="post-paragraph">
                “Uh,” says Ethan, interrupted from acting like he wasn’t just eyeing those long legs and all that lip-gloss. He hesitates, then reluctantly reveals his identity.
        
            </p>        
            <p class="post-paragraph">
                “—Ethan Laskin, right? I’m Jerry, Jerry Adelman.” Jerry extends his hand. “This is amazing! I’m an old friend of your mother and father. Are they still around?” Parents with campus maps and yaffa blocks, freshmen with suitcases and poster tubes, all finding their way in the courtyard of letting go and everything new. 
                
            </p>
            <p class="post-paragraph">
                “Oh, no. They just left a few minutes ago.” 
                
            </p>
            <p class="post-paragraph">
                “Oh. Well, this is my son, Seth.” The sons shake hands, find out they used to play together, and the conversation rolls until awkwardness overcomes. 
               
            </p> 
            <p class="post-paragraph">
                “Good luck to you, Ethan—” 
                
            </p>
            <p class="post-paragraph">
                Fresh from the bathroom, Seth’s mom Sharon and his little brother meet up with the rest of the family and they all head to the famous sandwich place down the street. “All that unpacking made me hungry,” Sharon says. The restaurant’s crowded. Father and freshman grab a table in the back while mom and little bro-bro order at the register. 
              
            </p>  
            <p class="post-paragraph">
                Glad to be sitting, Jerry says to Seth, “You know that guy Ethan we were just talking to?” 
                
            </p>
            <p class="post-paragraph">
                “Yeah?” 
                
            </p>
            <p class="post-paragraph">
                “Well,” Jerry says, “your mother and I used to have sex parties with his parents.” Just like that. Happy first day of college, kid.
                
            </p>
            <p class="post-paragraph">
                Shut-struck, Seth says nothing. His what-the-hell hands and what-the-fuck face say it instead. 
                
            </p>
            <p class="post-paragraph">
                “—Don’t worry, though,” Jerry adds. “We always had them at their house.” Seth’s disgusted. Jerry takes a sip of his self-serve soda and mother and child arrive with lunch. 
                
            </p>
            <p class="post-paragraph">
                Seth, he takes a deep breath, looks at his watch. All right: enough. Looks at his brother, smiles. Out-of-state tuition means out-of-state parents.
                
            </p>
            <p class="post-paragraph">
                That night, Seth doesn’t get to bed until after four in the morning. 
                
            </p>
            <p class="post-paragraph">
                Not one day deeper into the big next step, and, surprise, Seth and Ethan run into each other on campus. “—Hey,” Ethan smiles, recognizing Seth, “you’re the guy with the funny father from the other day.” 
                
            </p>
            <p class="post-paragraph">
                Soon after they wind up playing <span class="italics">NHL ’94</span> in Ethan’s room, and under the “D’oh!” of a Homer Simpson poster, Seth checks their latest development of silence. “Dude, I gotta tell you something. My dad said some pretty weird shit to me and I thought you should know.” 
                
            </p>
            <p class="post-paragraph">
                Thumbing the buttons in his hands, Ethan goes, “Oh-kay.” He sets up a one-timer. Shot saved. “Ah. What’d he say?” 
                
            </p>
            <p class="post-paragraph">
                “Well, he told me that <span class="italics">your</span> parents and <span class="italics">my</span> parents used to have sex parties back in the day.”
                
            </p>
            <p class="post-paragraph">
                “—What!?” Ethan drops his controller. “—Wait, what? Seriously?” The pixels of his hockey players lose their motivation. “—Seriously!?” 
                
            </p>
            <p class="post-paragraph">
                Seth nods. Ethan leaps for the phone, dials. Seth hits pause.
                
            </p>
            <p class="post-paragraph">
                “Hi, mom—Yeah, everything’s great—Doing good, doing good—Yeah, thanks—Uh huh—OK, sounds good—So, listen, do you remember Jerry Adelman?—Yeah, Jerry and Sharon Adelman—Right, right—I’m here with Seth, their son—Yeah, pretty crazy.” 
                
            </p>
            <p class="post-paragraph">
                Ethan looks at Seth. “My mom says, ‘Hi.’”
                
            </p>
            <p class="post-paragraph">
                Seth chuckles, says, “Hi.”
                
            </p>
            <p class="post-paragraph">
                Ethan looks away. “Seth says, ‘Hi’—Yeah, so, actually, Mom, Seth says that you and dad used to have <span class="italics">sex parties</span> with <span class="italics">his</span> parents—”
                
            </p>
            <p class="post-paragraph">
                Seth shifts his weight in the chair. Ethan hasn’t said a word in over a minute. When he hangs up, he nods affirmative. “Our parents had sex parties, man.”
                
            </p>
            <p class="post-paragraph">
                Having already accepted it, Seth agrees. “Yeah.”
                
            </p>
            <p class="post-paragraph">
                Ethan goes, “But my mom said I shouldn’t worry. She said they always had them at <span class="italics">your</span> house.”
                
            </p>
            <p class="post-paragraph">
                Seth shakes his head, chuckles. “<span class="italics">Motherfuckers</span>.” 
            
            </p>
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                        <div class="flex-me-baby">
                            <a href="/issue1/morris-collins.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="" style="display:inline-block;margin-bottom: 0px;"></a>
        
                            <div class="read-more-text">READ<br>MORE</div>
        
                            <a href="/issue1/robert-james-russell.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="" style="display:inline-block;margin-bottom: 0px;">
                            </a>
        
        
        
                        </div>
                    </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>