bio: <span class="author-bio-name"></span>
interview_1: >
interview_2: >
interview_3: >




<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>

         HERE GOES THING
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>