---
author_id: 009
author_name: Robert James Russell
genre: A graphic memoir
usual_genre_grammared: fiction writer
issue: 1
title: Goose Memoir
categories: issue1
layout: creative-post
bio: <span class="author-bio-name">Robert James Russell</span> is the author of the novellas <span class="italics">Mesilla</span> (Dock Street Press) and <span class="italics">Sea of Trees</span> (Winter Goose Publishing) and the chapbook <span class="italics">Don't Ask Me to Spell It Out</span> (WhiskeyPaper Press). He is a founding editor of the literary journals <span class="italics">Midwestern Gothic</span> and <span class="italics">CHEAP POP</span>.
interview_1: > 
    Fiction. I’ve loved learning to explore nonfiction and poetry and art in recent years—nonfiction/memoir especially is something I’ve been leaning into—but for me it all comes back to fiction. I want to create worlds not beholden to anyone or anything, to tell a story—fingers crossed—no one else ever has. There’s something so powerfully rewarding, grabbing someone’s attention, maybe even calling them to action, through something you crafted into the world. The way I see it is this: a story I write is—or I wouldn’t be writing it—something I’m obsessed with, and in some way it teaches me something or cracks the world open for me. If only one other person reads it and gets something of their own from it...how incredible is that? I love this connectivity of fiction, how it can bring us so close together.
interview_2: >
    I’ve loved learning to use art as a means to tell a story; it’s been a hobby for so long and only recently have I tried to do more with it. And really, it’s hard to say, but I see these little slices of life, things that happen to me, or bursts of memory, and feel compelled to draw them. It’s a way, I think, to burn them even deeper into my brain. This year, so much of my journey has been re-teaching myself watercolors (like “Goose”) and how special they can be; additionally, I keep coming back to moments where I, or something I do, intersect with nature. I saw this goose on campus and it was struggling so much and...I just had to draw it. I just had to remember this scene.  
interview_3: >
    I think the biggest thing is how effectively I can tell a story or recall a memory or (figuratively) paint a scene with so little. There wasn’t enough here for a story or a creative nonfiction piece—not to me, anyway. But in three intersecting panels I’m able to really show how dramatic this scene was (to me at the time, anyway), and how much it affected me. It’s something I didn’t want to forget and now I won’t.
---

<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2">
            <h2 class="piece-title"> {{page.title}} </h2>

 

            <a rel="gallery-1" href="/img/issue1/Goose_memoir_RJR.jpg" class="swipebox" title='Goose Memoir'>
                <img src="/img/issue1/thumbnail-Goose-memoir.jpg"  class="gallery-image-2"style="margin: 1rem auto;"alt="Goose Memoir, by Robert James Russell"></a>
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
            
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/paul-siegell.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/sheila-squillante.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>
 {%include js-for-lightbox.html%}