---
author_id: 010
author_name: Shiela Squillante
genre: An essay
usual_genre_grammared: poet
issue: 1
title: Chana Dal with Raita
categories: issue1
layout: creative-post
bio: <span class="author-bio-name">Sheila Squillante</span> is the author of the poetry collection <span class="italics">Beautiful Nerve</span>, as well as three chapbooks of poetry. Recent work has appeared in <span class="italics">Copper Nickel, Indiana Review, Waxwing, and River Teeth</span>. She teaches in the MFA program at Chatham University where she edits <span class="italics">The Fourth River</span>. She also serves as Blog Editor for <span class="italics">Barrelhouse</span>.
interview_1: >
    I supposed I'm supposed to say poetry, since that is where my foundational training lies, but the truth is that I am almost as comfortable calling myself an essayist as I am calling myself a poet. The genre depends wholly on the what the subject calls for in any given project. 
interview_2: >
    This piece is part of a longer memoir-length project that addresses my life without my foodie father, who died when I was in college. I wrote a handful of recipe-essays as a way of connecting with him and my memories of eating with him in a fully tangible, sensory way.
interview_3: >
    When I first started writing memoir, I was overwhelmed by how much space there was around my subject. I felt very exposed and vulnerable—kind of how I imagine it would feel to be standing in the middle of a western landscape, sky in all directions, no place to hide. 
---
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2">
            <h2 class="piece-title"> {{page.title}} </h2>
            <span class="italics" style="display:block;margin-top:-2rem;margin-bottom:2rem;">Serves 6 people at wits' end</span>

<div class="grid-x" id="sheila-recipe">
    <div class="cell medium-6"><ul >
        <li>1.5 cups chana dal</li>
       
        <li>Canola oil for frying</li>
        
        <li>1 onion, chopped</li>
        <li>3 cloves garlic, chopped</li>
        <li>1.5-inch piece fresh ginger, finely chopped</li>
        <li>4 cups water</li>
        <li>½ tsp sugar</li>
        <li> ½ tsp turmeric</li>
        <li>1 tsp salt, to taste</li>
    </ul></div>
    <div class="cell medium-6"><ul>
        <li>1 tsp ground black pepper</li> <li>2 tsp cumin seed</li><li>½ tsp anise or fennel seed</li>
       
        
        <li>1 tsp coriander</li>
        <li>½ tsp cayenne</li>
        <li>½ cup shredded coconut</li>
        <li>1 tsp ground cardamom</li>
        <li> 2 tsp ground cinnamon</li>
    </ul></div>
</div>
 
        <br>
        <p class="post-paragraph first-p">First things first, go ahead and admit you are in a terrible mood. Really, just awful. Touchy and irritable, ready to banish any and all family members to the furthest reaches at the slightest affront.  But look, take a deep breath and remind yourself that part of the reason you are doing this—cooking these meals, trying on the process of cooking—is because you loved your foodie father, gone now an impossible twenty-two years. It’s because you miss him—an always-ache in your gut and your head like hunger—and despite the headache-inducing screeching sounds of your children (now and all afternoon) from the other room, you love them, too. Remind yourself that cooking usually makes you feel <span class="italics">better</span> and resolve to push through.
            </p>
        <p class="post-paragraph">Check online for recipes. Read a few to get a sense of the basic shape of the dish and then decide to go forward with your own version. Recipes are good places to <span class="italics">start</span>.</p>
        <p class="post-paragraph">Sort and rinse 1.5 cups chana dal in lots of cold water and put into a pot with 4 cups of water, salt, sugar, and turmeric…except you don’t have any. Dammit. Bring to a boil then reduce heat and simmer. Skim the scum from the pot of dal and give it a stir every now and then. Add more water if it gets low. Cook until almost tender.
            </p>
        <p class="post-paragraph">Chop an onion the way you saw it done on a cooking show once—hold it down with one hand and make parallel slices through the half moon, then lateral slices down to create a fairly perfect dice—and remember watching those proto-celebrity cooking shows, the <span class="italics">Frugal Gourmet</span> and the <span class="italics">Louisiana Cooking</span>, with your father on lazy Saturday afternoons.</p>
        <p class="post-paragraph">Now remember him taking you to your first Indian meal in that restaurant in White Plains, NY. Remember the tapestries and brocade, the heavy shine of gold accents all around. How the air there was pungent and redolent of curries and chilis still unknown to you. Delicious, yes, but also oily and almost unbreathable.
            </p>
        <p class="post-paragraph">Invite your vegan friend to join you for this meal. Wonder what your father—glutton and lover of world cuisine—would have thought of veganism. Realize you know the answer, but decide that he would have loved your friend—smart, wry, kind, and curious—despite her questionable dietary preferences.
            </p>
        <p class="post-paragraph">Fry onions in three tbsp oil over medium high heat until they melt to a deeply rich brown. Every Indian recipe you’ve ever read has admonished you not to go to quickly, not to skimp on this step. Slow down.  You need this. It will take more than five or ten minutes and will be worth the wait.
            </p>
        <p class="post-paragraph">Chop the garlic and ginger and add to the onions once they have reached that caramel sweetness. Fry for another minute or two. Add onions, garlic and ginger—maybe just another little bit—to the dal.
            </p>
        <p class="post-paragraph">Pull the bag that holds your bulk Indian spices from the pantry and check to see what you actually have on hand. Ground cumin, coriander, cumin seed, ground ginger, some red-brown powder labeled, simply, “hot,” ground cardamom, no fennel, but you do have anise seed which should work. Splay the spices and all the other ingredients over the single square foot of workable prep space you have in this kitchen (the last time you had an adequate kitchen, you were a child in your parents’ home) and feel the walls close in. Unbreathable.</p>  
        <p class="post-paragraph">In a food processor, combine the coconut, cinnamon, 1 tsp cumin seed, coriander, cayenne, and cardamom plus ¼ cup very hot water. Pulse into what is supposed to be a thick paste, but when yours turns out too soupy, remember that sometimes recipes are only good places to <span class="italics">start</span>.
            </p>  
        <p class="post-paragraph">Add paste to the simmering dal and cook for another twenty minutes or until dal is tender.</p>  
        <p class="post-paragraph">In a bit of oil, fry the remaining tsp of cumin seed and the anise for about a minute. Pay attention! Don’t burn it. Add it to the pot just before serving. Taste to check spice level. Add some more cayenne at the last minute.  Why not match the heat to your level of angst? If you overdo it, don’t worry. There will soon be raita to cool all tempers.
            </p>  
        <p class="post-paragraph">Seed a cucumber and throw it into the food processor. Add a cup of plain yogurt, a handful of fresh mint, some ground cumin, salt and pepper. Process until smooth.
            </p>  
        <p class="post-paragraph">The kids will have stopped screaming, maybe, but they still won’t eat this. (You didn’t eat Indian until you were in college, after all.) Feed them bread and cheese and slices of orange pepper while you heat the naan and put some spinach or arugula in your mother’s teak salad bowl. Its deep, elegant beauty alone could be enough to soothe you.
            </p>  
        <p class="post-paragraph">Let your friend, the vegan, keep the kids company at the table. Don’t worry about how this recipe isn’t perfect, how this day hasn’t been perfect, about how your fantasy of a family weekend most always gets derailed sometime mid-day on Sunday. Everyone’s screaming, actually or metaphorically, sick of everyone else, and you all need to get back to your routines. Tomorrow.
            </p>  
        <p class="post-paragraph">Tonight, now, serve this dal over steaming hot basmati rice, topped with cilantro and drizzled with raita (spring green and tempting, even for a vegan) at the table. Pour a glass of chilled white wine, tell your husband and friend the story of that first rather mediocre Indian dinner with your dad, and really, Sheila, just calm the hell down and eat.
                        </p>
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
 
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/robert-james-russell.html"><img src="/img/icons8-back-80.png" width="45" alt="" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/sue-lawrence.html"><img src="/img/icons8-forward-80.png" width="45" alt="" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                </div> <!-- end read more block -->   </div>
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>

 