---
author_id: 011
author_name: Sue Lawrence
genre: Photography
usual_genre_grammared: fiction writer
issue: 1
title: Layered Time
categories: issue1
layout: creative-post
bio: <span class="author-bio-name">Sue Lawrence</span> is a writer, nature photographer, and Montana explorer with a southern accent who's drawn to the intricate details, symmetry, and vibrant colors alive in nature. Life is a grand adventure for which she whispers, "Thank You" to her Creator every day. You can see more of her images on Instagram <a href="https://www.instagram.com/montanaexplorer/">@montanaexplorer</a>.
interview_1: >
    I prefer writing creative nonfiction—in particular, personal essays and narrative nonfiction. I've always been drawn to "true" stories of women and men who accomplished a lot with a little. 
interview_2: >
    Simply said, I wanted a different way to tell a story with meaning. The best life lessons are those accompanied by a personal example that illustrates the main point. This time, I needed my images to say what words could not.   
interview_3: >
    I was afraid my reader wouldn't "get" my message in pictures without words when I initially submitted them to <span class="italics">genre2</span>. I dealt with this dilemma by creating short one-to-three-word captions for each image that would relay my intent. However, when I received word that several of my photographs were to be featured in this issue—but without any titles—it was a little unnerving. After two days, I realized it was "okay." If my photos pair well with the thought-provoking nonfiction, fiction, and poetry presented in this literary journal, then they will have served a dual purpose. Visual art illustrates meaning. It also portrays its own story—within-a-story.
---

<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>

            <div class="grid-x grid-padding-x grid-margin-x">
                
            
                <div class="cell small-12 large-12">
                        <a rel="gallery-1" href="/img/issue1/sue/Layers of Ledges-Sue Lawrence.jpg" class="swipebox"  >
                            <img src="/img/issue1/sue/thumbnail-Layers of Ledges-Sue Lawrence.jpg" class="gallery-image" alt="Layers of Ledges, a photo by Sue Lawrence"></a>
                           
                             <!--aloha--><div class="slideshowy flex-me-baby">

                        <a rel="gallery-2" href="/img/issue1/sue/Layers of Ledges-Sue Lawrence.jpg" class="swipebox hi-rez"  >slideshow <img src="/img/lnr-film-play.svg" alt="Browse icon" class=""></a>
                        
                        <div class="hi-rez center">
                            <a href="/img/issue1/sue/Layers of Ledges-Sue Lawrence.jpg">hi-res&nbsp;<img src="/img/lnr-link.svg" alt="link icon" ></a> 
                        </div>
                    </div><!--aloha-->
                           
                </div>
                <div class="cell small-12 large-12">
                        
                        <a rel="gallery-1" href="/img/issue1/sue/Layered Time-Sue Lawrence.jpg" class="swipebox" >
                            <img src="/img/issue1/sue/thumbnail-Layered Time-Sue Lawrence.jpg" class="gallery-image" alt="Layered Time, a photo by Sue Lawrence"></a>
                            
                                 <!--aloha--><div class="slideshowy flex-me-baby">

                        <a rel="gallery-2" href="/img/issue1/sue/Layered Time-Sue Lawrence.jpg" class="swipebox hi-rez"  ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""></a>
                        
                        <div class="hi-rez center">
                            <a href="/img/issue1/sue/Layered Time-Sue Lawrence.jpg"> <img src="/img/lnr-link.svg" alt="link icon" ></a> 
                        </div>
                    </div><!--aloha-->
                            
                           
 
                </div>
                <div class="cell small-12 large-12">
                    
                    <a rel="gallery-1" href="/img/issue1/sue/Children at Play-Sue Lawrence.jpg" class="swipebox"  >
                        <img src="/img/issue1/sue/thumbnail-Children at Play-Sue Lawrence.jpg" class="gallery-image" alt="Children at Play, a photo by Sue Lawrence"></a>
                        
                                  <!--aloha--><div class="slideshowy flex-me-baby">

                                    <a rel="gallery-2" href="/img/issue1/sue/Children at Play-Sue Lawrence.jpg" class="swipebox hi-rez"  ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""></a>
                        
                                    <div class="hi-rez center">
                                        <a href="/img/issue1/sue/Children at Play-Sue Lawrence.jpg"> <img src="/img/lnr-link.svg" alt="link icon" ></a> 
                                    </div>
                                </div><!--aloha-->
                        
                       
                </div>


                <div class="cell small-12 large-12">
                        <a rel="gallery-1" href="/img/issue1/sue/Sunset on the Rims-Sue Lawrence.jpg" class="swipebox"  >
                            <img src="/img/issue1/sue/thumbnail-Sunset on the Rims-Sue Lawrence.jpg"   class="gallery-image" alt="Sunset on the Rims, a photo by Sue Lawrence"></a>
                           
                              <!--aloha--><div class="slideshowy flex-me-baby">

                                <a rel="gallery-2" href="/img/issue1/sue/Sunset on the Rims-Sue Lawrence.jpg" class="swipebox hi-rez"  ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""></a>
                        
                                <div class="hi-rez center">
                                    <a href="/img/issue1/sue/Sunset on the Rims-Sue Lawrence.jpg"> <img src="/img/lnr-link.svg" alt="link icon" ></a> 
                                </div>
                            </div><!--aloha-->
                           
                          

                       
                </div>
                <div class="cell small-12 large-12">
                        <a rel="gallery-1" href="/img/issue1/sue/Technology vs. Nature-Sue Lawrence.jpg" class="swipebox"  >
                            <img src="/img/issue1/sue/thumbnail-Technology vs. Nature-Sue Lawrence.jpg" class="gallery-image" alt="Children at Play, a photo by Sue Lawrence"></a>
                           
                              <!--aloha--><div class="slideshowy flex-me-baby">

                                <a rel="gallery-2" href="/img/issue1/sue/Technology vs. Nature-Sue Lawrence.jpg" class="swipebox hi-rez"  ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""></a>
                        
                                <div class="hi-rez center">
                                    <a href="/img/issue1/sue/Technology vs. Nature-Sue Lawrence.jpg"> <img src="/img/lnr-link.svg" alt="link icon" ></a> 
                                </div>
                            </div><!--aloha-->
                           
                           
                           
                </div>
                <div class="cell small-12 large-12">
                        <a rel="gallery-1" href="/img/issue1/sue/Broken-Sue Lawrence.jpg" class="swipebox">
                            <img src="/img/issue1/sue/thumbnail-Broken-Sue Lawrence.jpg" class="gallery-image" alt="Broken, a photo by Sue Lawrence"></a>
                            
                                  <!--aloha--><div class="slideshowy flex-me-baby">

                                    <a rel="gallery-2" href="/img/issue1/sue/Broken-Sue Lawrence.jpg" class="swipebox hi-rez"  ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""></a>
                        
                                    <div class="hi-rez center">
                                        <a href="/img/issue1/sue/Broken-Sue Lawrence.jpg"> <img src="/img/lnr-link.svg" alt="link icon" ></a> 
                                    </div>
                                </div><!--aloha-->
                           
                </div>
            
            </div>
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/sheila-squillante.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Read prior piece" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/tony-mancus.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Read next piece" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>
 {%include js-for-lightbox.html%}