---
author_id: 012
author_name: Tony Mancus
genre: nonfiction
usual_genre_grammared: poet
issue: 1
title: Slow Home Focus
categories: issue1
layout: creative-post
bio: <span class="author-bio-name">Tony Mancus</span> is the author of a handful of chapbooks, including <span class="italics">Subject Position</span> (The Magnificent Field), <span class="italics">City Country</span> (Seattle Review), and <span class="italics">Bye Sea</span> (Tree Light Books). He lives with his wife Shannon and three yappy cats in Colorado and serves as chapbook editor for <span class="italics">Barrelhouse</span>.
interview_1: >
    Poetry, in large part because that's what I started with and have done the most. And because it's how I process the world and think, or the closest approximation to this. I love stories, though, but have a hard time building the components of them and maintaining the focus they require. With poetry, spilling language and finding what's there afterwards is doubly rewarding for me—you get the catharsis of getting things out and the puzzling wonder of piecing things together.
interview_2: >
    Honestly, I didn't know what to do while Shannon was in for surgery for endometriosis. And Christ, that condition—so many women are being clobbered by it and there's so little research being done—emblematic of women's healthcare in general. If men had super painful tissue from their reproductive organs growing randomly on and in other organs, they'd have both a pain outsourcing program constructed and nanotreatments for the tissue growth in the middle of last century. Bah. Rant aside, I've been drawn toward the lyric essay structure for a while and just nonfiction in general and while in the waiting room decided to try to document what was going on in as truthful a fashion as I could in part so I wouldn't freak out and also to try to capture the common condition of waiting in worry.
interview_3: >
    I think just being consistently honest, or aiming for "objective" truth in an experience. I'm much more accustomed to trying to capture images and hinting at experience through images, but this was an inversion of that, I think, but I also think that some of what I'm used to doing in poems helped me to arrange things here. And honestly, I think the genre lines have become and maybe always were more porous than lines let on, so it was good to kind of realize that again.
---


<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>

         <p class=" ">A thin trail carries behind the house&mdash;worn like a house can be, through time and on top of a body&mdash;even if it’s an apartment in a three-story pre-war building. Through pain and the period of healing&mdash;how one day bleeds into all the others. 
            </p>
         <p class=" ">If you place your focus on a simple thing living&mdash;plant, cat, lover&mdash;if you can empty yourself into the vessel that carries you safely from space to space, then take your time until it stops. What we focus on will come together however it will, now that we’re paying attention.</p>
         <p class=" ">Slow beginning&mdash;the born things in us do need such legal terms. No. This country begs to be let go. And I don’t know how to be properly afraid. I belt my emotions to the front of whatever vehicle I drive, meaning no one really catches these flimsy changes. One Ford Focus. Two-legged human. Same progress.
         <!-- <p class="  center">* * *</p> -->
         {%include section-break.html%}
            </p>
         <p class=" ">I can’t seem to hold onto a thought here… The nurses are cleaning their hands. It’s been roughly two hours since they’ve wheeled Shan back to be pumped full of air and cut into&mdash;healed by the properties that require insurance and/or impenetrable debt. 
            </p>
         <p class=" ">The speech recognition software mangles my mother-in-law’s message as she speaks it into her phone. She’s trying to reach someone else who loves my wife.
            </p>
         <p class=" ">It’s been about two hours, period. We don’t know anything yet, period. We can’t give out pillows here&mdash;Oh, I didn’t know that&mdash;
            </p>
         <p class="padleft3rem ">Harry Connick interviews somebody about <br>
                high heels on the television
    </p>
         <p class=" ">What waiting rooms do with us. We will be watching the clock from here on.</p>
         <!-- <p class="center">* * *</p> -->
         {%include section-break.html%}
         <p class="">And what happens to the body filled with air, with the consciousness that lives there, normally holding the body steady now ballooned with its organs shifting.
            </p>
         <p class="padleft3rem ">The TV is rounding out the notion of a “bum roll,” <br>
                or the people speaking there are. And Harry <br>
                Connick does not go in wholly <br>
                for sexual innuendo, but hints at it.
                </p>
         <p class="">I don’t know what insights I’m supposed to catalogue&mdash;my worst worry: my best friend won’t be able to laugh freely for the next month. There are other possibilities, but I’m not considering them. How we gather our iconographies. Put the world from our mouth, the words onto screens and into the minds of those we wish were near us. Objectively, I don’t know how to be alert, what to do with my hands socially, the dropped clicks on the clock&mdash;its hands double-stepping—as it wears its only face into the afternoon my in-laws and I share with strangers who are our mirrors, waiting, too. 
            </p>
         <p class="padleft3rem ">The crowd on TV backing it up to some horn <br>
                and guitar </p>
         <p class="">Who localizes the actions&mdash;any organ, like an organ segmented…and then the church pipes enter referentially, but that’s wrong, too. The doctor said the procedures should increase our chances of having a baby. Other doctors hadn’t identified anything correctly in over fifteen years. There are many things to be said about this.
         <!-- <p class="center">* * *</p> {%include section-break.html%} -->
            </p>
         <!-- <p class="center">* * *</p> --> {%include section-break.html%}
         <p class="">Her parents and I are seated, waiting for her color to turn pink&mdash;the thought of how healthy organs present themselves. Fluorescent light skips across the waxed wood flooring.

            </p>
         <p class="">I have stood up once, or not at all yet. </p>
         <p class="padleft3rem">The TV says breakup texts&mdash;these didn’t <br>
                used to happen. It’s Steve Harvey now <br>
                with a gaggle of dudes<br>
                        “It isn’t you. It isn’t you…”<br>
                to feel less awkward. Steve Harvey says<br>
                what happens when it was<br>
                you told her it was over and your whole<br>
                car was on fire when you came out.<br>
                The fires start by telling, apparently, and men<br>
                lose objects while women lose<br>
                lives.<br>
    </p>
         <p class="">The range of colors from admittance through whatever is “Phase II” moves from light blue to dark…from green to green to light pink to dark. And in some measured amount of time her row will change in this prescribed patter and we’ll know where the cells wandered to. And how thick the wall was. And we’ll be reassured about the prospects.  I have no idea if this is right&mdash;  what any of this feels like for her. There are no other alternatives.</p>
         <p class="padleft3rem ">
                Two pictures of cherry trees dropping <br>
                their blossoms all over the grass <br>
                on the far wall, to the right of the television.
    </p>
         <p class="">Before they wheeled her back but after they pumped a vial of anti-anxiety meds into her IV, the nurses had to reprint her stickers and wristband so her blood work would match her person&mdash;an absent letter on the printed documentation. Her middle initial, the name that her parents carry, that she pushed from the end of her own name back a space, so our family can carry the same last name. And I have not yet held my end up, to take her family’s name into my own. I feel this later, how easy I have it. One letter stalls the procedure and we have been trying to make that family for nearly three years now. Her body. My body. Our family. 
         {%include section-break.html%}
         <!-- <p class="center">* * *</p> -->
            </p>
         <p class="padleft3rem ">A man on the TV says that men are afraid <br>
                of labels and what it is we know<br>
                and don’t know when we don’t<br>
                have to know it.<br>
                Put a barrier up against what<br>
                we know we don’t have<br>
                to deal with
    </p>
    <!-- <p class="center">* * *</p> --> {%include section-break.html%}
    <p class="">I can identify her in a room by back, shoulder, hair, turn, or voice. There are no other possibilities. It’s only air being pressed into her stomach and a man with a laser rooting around in there. Sometimes I can identify her by dress, drink, loss of phone. Sometimes taste, bathroom needs, when she enters a room, the way others see her. 
        </p>
    <p class="">
            I can also identify her row on the screen from where we’re seated. Mary, her mom, moves over to the screen and back and tells Mark what I can already see. They are calm and worried. The clock’s second hand dropping time between the 7 and 8 on its face, the whole of our waiting.
            </p>
    <!-- <p class="">* * *</p>    --> {%include section-break.html%}
    <p class="">Her band is blue bleeding into green, but no healthy pink yet&mdash;the color of the fallen petals. It feels symbolic and almost like what I can’t seem to say.
        </p>
    <p class="">Green grass, pale flowers&mdash;patient in OR, patient in Phase I&mdash;one of many forms of identification. 
        </p>
    <!-- <p class="center">* * *</p> --> {%include section-break.html%}
    <p class="">Tomorrow maybe we’ll be able to look back at this room and mark time from it. 
        </p>   
 
 
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/sue-lawrence.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/yi-shun-lai.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!&mdash; end read more block &mdash;>
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>