---
author_id: 013
author_name: Yi Shun Lai
genre: Art
usual_genre_grammared: fiction writer
issue: 1
title: Watercolors
categories: issue1
layout: creative-post
bio: <span class="author-bio-name">Yi Shun Lai</span> is a co-publisher of, and prose editor at, <span class="italics">The Tahoma Literary Review</span>. She's an adjunct faculty member at the University of La Verne and Southern New Hampshire University and teaches workshops and classes on creative writing and the craft of publishing at other higher-education institutions. Her debut novel, <span class="italics">Not a Self-Help Book&#58; The Misadventures of Marty Wu</span>, has been in its fourth printing <span class="bold">forever</span>. She dabbles in nonfiction, and likes it.
interview_1: >
    Nonfiction, for its immediate capability to make people feel less alone. Fiction, for its capacity to mold real-life events into something that makes both the writer and the reader feel less alone. 
interview_2: >
    I like to think we are all capable of processing different viewpoints. Sometimes, these different viewpoints can help us to create better works. Watercolors mixed with my own commentary gives me free rein to yammer unedited, but more importantly, drawing and watercolor force me to really see what it is I'm looking at in its raw form.
interview_3: >
    The memory each of these drawings bring back to me, and the immediacy of that flashback, is more powerful than I thought it'd be.
---
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2">
            <br>
            <!-- <h2 class="piece-title"> {{page.title}} </h2> -->
            <div class="grid-x grid-padding-x grid-margin-x">
                <div class="cell small-12 large-12">
                    <a rel="gallery-1" href="/img/issue1/YiShunLai-Chef-Charlie.JPG" class="swipebox" title='"Chef Charlie" — notes from the Scott Polar Research Institute’s archives on an Antarctic
                    expedition.'>
                        <img src="/img/issue1/thumbnails/thumbnail-YiShunLai-Chef-Charlie.JPG" class="gallery-image"alt="Chef Charlie, an image by Yi Shun Lai"></a></div>

                
                        <div class="cell small-12 large-12">
                        <a rel="gallery-1" href="/img/issue1/YiShunLai-OrdeLees.JPG" class="swipebox" title='“Orde-Lees’ Diaries” — notes from the Scott Polar Research Institute’s archives on an Antarctic expedition.'>
                        <img src="/img/issue1/thumbnails/thumbnail-YiShunLai-OrdeLees.JPG" class="gallery-image" alt="Orde-Lees, an image by Yi Shun Lai"></a></div>
                
                        <div class="cell small-12 large-12"><a rel="gallery-1" href="/img/issue1/YiShunLai-Orford.jpg" class="swipebox"
                        title='"Orford Castle” — self-explanatory"'>
                        <img src="/img/issue1/thumbnails/thumbnail-YiShunLai-Oxford.jpg" class="gallery-image" alt="Orford Castle, an image by Yi Shun Lai"></a></div>
                
                
                        <div class="cell small-12 large-12"><a rel="gallery-1" href="/img/issue1/YiShunLai-TRex.JPG" class="swipebox"
                        title='“TRex” — a scene from a trip to Phoenix. Inked on-site; watercolored in whilst nursing a beer at a bar, which makes everything
                        less earnest, and therefore okay.'>
                        <img src="/img/issue1/thumbnails/thumbnail-YiShunLai-TRex.JPG" class="gallery-image"alt="T-Rex, an image by Yi Shun Lai"></a></div>
            </div>
            <h3>Curatorial Notes</h3>
            <p class="post-paragraph">I have an absolute horror of earnestness. I think I mostly worry that it will make
                me seem weak. In my childhood home, we didn’t say, “I love you” or even “You did a great job,” or “Hey, I
                think you’re okay.” And if I ever, misguided and emboldened from a sitcom I had seen, actually asked out
                loud why no one ever said, “Mama is so proud of you,” I got a steely-eyed stare and “Stupid, blind child&mdash;that
                your family loves you should be obvious,” and “Praise is earned, not given.”</p>
            <p class="post-paragraph">

                And yet, how I admired those people who left the house every morning saying, “I love you! Have a nice day!” and who told
                their children, “You’re amazing&mdash;did you know that?” or “You can do anything you set your mind to.” (I may
                have also seen these things on network television, so maybe my reality was skewed.)
            </p>
            <p class="post-paragraph">

                All of this may explain my allergy to nature journaling. This is that peculiar thing people do where they go out into the
                woods with a notebook and some watercolors and lumpy-bump their pages with wet leaves and tape. They draw
                petals and bees and birds and landscapes and annotate them, oh so carefully, oh so diligently: “Soft breeze
                blowing from the northeast,” they might write, after wetting a finger and putting it into the air to test
                the direction of said breeze. “Balmy, mid-70s,” they might further jot, next to their perfectly rendered
                eucalyptus tree. “I feel at one with the sky, the earth, the worms tunneling beneath me,” they will notate,
                after lying with their faces to loamy earth for fifteen minutes of communion with beetles scurrying beneath
                them.

            </p>
            <p class="post-paragraph">
                (This last I made up.)

            </p>
            <p class="post-paragraph">
                I admire these people who can access this deep noticing, to borrow a phrase from the poet Derek Sheffield. But I cannot help
                but roll my eyes, to varying degrees, at this nature journaling. Jesus H. Christ on a bicycle, I think to
                myself, must everything be so all-fired dramatic? It’s just a nice day, and the breeze does not care to be
                noticed, and the worms will go about doing their thing when you are dead and gone and your precious watercolors
                have faded and the cellophane tape has lost its stick so that all your flowers and leaves are in a pile under
                your books, and no one knows where those goofy notebooks are anymore anyway.

            </p>
            <p class="post-paragraph">
                And yet—and yet. I love this different way of seeing. Writers can so easily get bogged down in the alphabet. Pictures are
                always accessible, and it’s kind of neat to reproduce a memory with your own two hands. Sometimes I take
                notes in that medium, just so I can remember, in another format, the things I have seen and learned.
            </p>
            <p class="post-paragraph">

                It is not quite earnest. But it is nice, and that will have to do for now.
            </p>
<p class="center">* * *</p>
           
            <p>
                <img src="" alt=""> “Chef Charlie”—notes from the Scott Polar Research Institute’s archives on an Antarctic
                expedition.
            </p>
            <p>
                “Orde-Lees’ Diaries”—notes from the Scott Polar Research Institute’s archives on an Antarctic expedition.
            </p>
           
            <p>
                    “Orford Castle”—self-explanatory.
                </p>
            <p>
                “TRex”—a scene from a trip to Phoenix. Inked on-site; watercolored in whilst nursing a beer at a bar, which makes everything
                less earnest, and therefore okay.
            </p>

            <div class="person-bio-box">
                {{page.bio}}
            </div>

            {%include sharing-buttons.html%}
            <div class="read-more-block">
                <div class="flex-me-baby">
                    <a href="/issue1/tony-mancus.html"><img src="/img/icons8-back-80.png" width="45" alt="" style="display:inline-block;margin-bottom: 0px;"></a>

                    <div class="read-more-text">READ<br>MORE</div>

                    <a href="/issue1/amanda-balter.html"><img src="/img/icons8-forward-80.png" width="45" alt="" style="display:inline-block;margin-bottom: 0px;">
                    </a>



                </div>
            </div> <!-- end read more block -->
        </div>



        <div class="cell medium-12 large-4">


            {%include piece-sidebar.html%}

        </div>
    </div>
</div>
{%include js-for-lightbox.html%}