<footer>
    <p class="little-bigger margin-b-5p">
        genre2
        <i class="fas fa-heart animated infinite pulse"></i>s its readers!
    </p>
    <p class="margin-t-5p">
        <a href="mailto:genre2mag@gmail.com">
            <i class="fas fa-envelope"></i> genre2mag@gmail.com</a>&nbsp;&nbsp;&nbsp;
      
        <a href="https://www.twitter.com/genre2mag" target="_none">
            <i class="fab fa-twitter"></i> @genre2mag</a>
    </p>
</footer>
<!-- <footer>
    <p>
        genre2
        <i class="fas fa-heart"></i>'s its readers!
    </p>
    <p>
        <a href="mailto:genre2mag@gmail.com">
            <i class="fas fa-envelope"></i> genre2mag@gmail.com</a>
        <br>
        <br>
        <a href="https://www.twitter.com/genre2mag" target="_none">
            <i class="fab fa-twitter"></i> @genre2mag</a>
    </p>
</footer> -->