<!-- <header> <a href="{{site.url}}/current-issue.html"><li>current issue</li></a>
    <a href="{{site.url}}/masthead.html"><li>masthead</li></a>
    <a href="{{site.url}}/archives.html"><li>archives</li></a>
    <a href="{{site.url}}/submit.html"><li>submit</li></a></header> -->



<header class="site-header">
    <div class="header-wordmark"><a href="{{site.url}}/index.html">
        
            <span id="genre2-header-genre">genre</span>
            <span id="genre2-header-2">2</span>
    </a>
    </div> 
    <div class="nav-links">
        <ul>
            
            <!-- <li><a href="{{site.url}}/index.html">home</a></li> -->
            <li>
                <a href="{{site.url}}/issues.html"><button>issues</button></a>
            </li>
            <li>
                <a href="{{site.url}}/masthead.html"><button>masthead</button></a>
            </li>
                     <li>
                <a href="{{site.url}}/submit.html"><button>submit</button></a>
            </li>
     
    </ul>
    </div>
</header>