<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
   <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111598580-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111598580-1');
    </script>   -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{page.title}} | genre2</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet"> 
    <!-- <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Noto+Serif|Noto+Serif+JP|Noto+Serif+KR" rel="stylesheet">  -->
    <link rel="stylesheet" href="/css/foundation.min.css">
    <!-- <link rel="stylesheet" href="/css/flexboxgrid.min.css"> -->
     <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/swipebox.min.css">
  <link rel="stylesheet" href="/css/animate.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="/src/lib/jquery-2.1.0.min.js"></script>
     <script src="/src/js/jquery.swipebox.min.js"></script>
     

</head>