<!-- SMALL SCREEN HEADER -->

<header class="site-header-small hide-for-medium  ">
    <div class="wordmark-small"  >
        <a href="{{site.url}}/index.html"> <span id="genre2-header-genre-small">genre</span>
            <span id="genre2-header-2-small">2</span></a>
    </div>

    <div id="nav-links-small">
            <ul>
                
                <li class="small-masthead"><a href="{{site.url}}/about.html"><button>about</button></a></li>
                  
                <li class="small-masthead">
                    <a href="{{site.url}}/masthead.html"><button>masthead</button></a>
                </li>
                         <li>
                    <a href="{{site.url}}/submit.html"><button>submit</button></a>
                </li>
         
        </ul>
        </div>


</header>



<!--VERSION 1 <header class="site-header hide-for-medium">
    
    
    <div class="grid-x">
        <div class="cell text-center"> <a href="{{site.url}}/index.html"> <span id="genre2-header-genre-small">genre</span>
            <span id="genre2-header-2-small">2</span></a></div>
        <div class="cell"><div class="nav-links text-center">
                <ul>
                    
                   
                      
                    <li>
                        <a href="{{site.url}}/masthead.html"><button>masthead</button></a>
                    </li>
                             <li>
                        <a href="{{site.url}}/submit.html"><button>submit</button></a>
                    </li>
             
            </ul>
            </div></div>
    </div>
    
    
   </a></header>
 -->



<!-- HEADER FOR BIGGER SCREENS -->
<header class="site-header show-for-medium">
    <div class="header-wordmark"><a href="{{site.url}}/index.html">
        
            <span id="genre2-header-genre">genre</span>
            <span id="genre2-header-2">2</span>
    </a>
    </div> 
    <div id="nav-links-big">
        <ul>
            <li><a href="{{site.url}}/about.html"><button>about</button></a></li>
           
              
            <li>
                <a href="{{site.url}}/masthead.html"><button>masthead</button></a>
            </li>
                     <li>
                <a href="{{site.url}}/submit.html"><button>submit</button></a>
            </li>
     
    </ul>
    </div>
</header>


<!--THIS IS THE HEADER AS IT WAS BEFORE PREVIEW SITE <header class="site-header">
    <div class="header-wordmark"><a href="{{site.url}}/index.html">
        
            <span id="genre2-header-genre">genre</span>
            <span id="genre2-header-2">2</span>
    </a>
    </div> 
    <div class="nav-links">
        <ul>
            
           
             <li>
                <a href="{{site.url}}/issues.html"><button>issues</button></a>
            </li>  
            <li>
                <a href="{{site.url}}/masthead.html"><button>masthead</button></a>
            </li>
                     <li>
                <a href="{{site.url}}/submit.html"><button>submit</button></a>
            </li>
     
    </ul>
    </div>
</header> -->