<div id="issue-1-contents">
    <ul>
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/amanda-balter.html">Amanda Balter</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li> <li>

            <span class="homepage-content-author">
                <a href="/issue1/amy-hempel-and-bret-anthony-johnston.html">Amy Hempel and Bret Anthony Johnston</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/ann-lightcap-bruno.html">Ann Lightcap Bruno</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/chelsea-dingman.html">Chelsea Dingman</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li>
        <li>
            <span class="homepage-content-author">
                
                <a href="/issue1/dave-housley.html">Dave Housley</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>

        <li>
            <span class="homepage-content-author">
                <a href="/issue1/gregory-lawless.html">Gregory Lawless</a>
            </span> /
            <span class="homepage-content-genre">fiction</span>
        </li>
       
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/morris-collins.html">Morris Collins</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>
       
       
        
       
        <li>

            <span class="homepage-content-author">
                <a href="/issue1/paul-siegell.html">Paul Siegell</a>
            </span> /
            <span class="homepage-content-genre">fiction</span>
        </li>  
       
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/robert-james-russell.html">Robert James Russell</a>
            </span> /
            <span class="homepage-content-genre">graphic memoir</span>
        </li> 
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/sheila-squillante.html">Sheila Squillante</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li> 
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/sue-lawrence.html">Sue Lawrence</a>
            </span> /
            <span class="homepage-content-genre">photography</span>
        </li>
        
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/tony-mancus.html">Tony Mancus</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li>
        <li>
            <span class="homepage-content-author">
                <a href="/issue1/yi-shun-lai.html">Yi Shun Lai</a>
            </span> /
            <span class="homepage-content-genre">art</span>
        </li>
    </ul>
</div>