<div id="issue-2-contents">
    <ul>
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/amie-whittemore.html">Amie Whittemore</a>
            </span> /
            <span class="homepage-content-genre">fiction</span>
        </li> <li>

            <span class="homepage-content-author">
                <a href="/issue2/e-anna-keith.html">E. Anna Kieth</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/elizabeth-burton.html">Elizabeth Burton</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li>
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/fabrice-poussin.html">Fabrice Poussin</a>
            </span> /
            <span class="homepage-content-genre">photography</span>
        </li>
        <li>
            <span class="homepage-content-author">
                
                <a href="/issue2/hannah-sundman.html">Hannah Sundman</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li>

        <li>
            <span class="homepage-content-author">
                <a href="/issue2/jim-zola.html">Jim Zola</a>
            </span> /
            <span class="homepage-content-genre">photography</span>
        </li>
       
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/kb-carle.html">K.B. Carle</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li>
       
       
        
       
        <li>

            <span class="homepage-content-author">
                <a href="/issue2/kelle-groom.html">Kelle Groom</a>
            </span> /
            <span class="homepage-content-genre">fiction</span>
        </li>  
       
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/mateo-perez-lara.html">Mateo Perez Lara</a>
            </span> /
            <span class="homepage-content-genre">nonfiction</span>
        </li> 
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/meghan-phillips.html">Meghan Phillips</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li> 
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/michael-tager.html">Michael Tager</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>
        
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/sandy-coomer.html">Sandy Coomer</a>
            </span> /
            <span class="homepage-content-genre">art</span>
        </li>
        <li>
            <span class="homepage-content-author">
                <a href="/issue2/tara-isabel-zambrano.html">Tara Isabel Zambrano</a>
            </span> /
            <span class="homepage-content-genre">poetry</span>
        </li>
    </ul>
</div>