<!-- <p class="author-bio">{{page.bio}}</p> -->
<div class="sidebar-wrap animated fadeIn  ">
    <h3 class="colorful-heading animated fadeIn ">The genre2 interview</h3>
    <div class=" animated-slower fadeIn"><p class="interview-question">What is your preferred genre and why? </p>
    <p class="interview-answer">{{page.interview_1}}</p>
    <p class="interview-question">Why did this piece compel you to move to this alternative genre?
    </p>
    <p class="interview-answer">{{page.interview_2}}</p>
    <p class="interview-question">What challenges or surprises did you encounter while working in this genre?</p>
    <p class="interview-answer">{{page.interview_3}}</p></div>
</div>