<div id="pushcart-announcement">
    <div class="grid-x">
        <div class="cell small-12">
            
                   
        <div class="grid-x subannounce">
                <div class="cell large-4"> <div class="leftt">
                        <h2><!-- <i class="fas fa-bullhorn"></i> --> We've nominated!</h2><p class="font-block pushcart-sub-area">Pushcart 2019</p>
                    </div></div>
                <div class="cell large-8"> <div class="  rightt">
                        <!-- <p class="font-block">Read our nominees <br>for the <a href="">Pushcart Prize 2019</a> -->
                      
                      
                      
                            <ul>
                            <li><a href="/issue1/amy-hempel-and-bret-anthony-johnston.html"> <em>First Available Artist </a>/ </em><span class="announce-author">Amy Hempel and Bret Anthony Johnston</span></li>
                            <li><a href="/issue1/chelsea-dingman.html"> <em>Undressing the Trees  </a>/ </em> <span class="announce-author">Chelsea Dingman</span>  </li>
                            <li><a href="/issue1/dave-housley.html"> <em>The Ancient Astronaut Theorist </a>/ </em><span class="announce-author">Dave Housley</span>  </li>
                            <li><a href="/issue1/gregory-lawless.html"> <em>Perfect Hoop </a>/ </em><span class="announce-author">Gregory Lawless</span>  </li>
                            
                            <li><a href="/issue1/morris-collins.html"> <em>Nineveh </a>/ </em><span class="announce-author">Morris Collins</span>  </li>
                            <li><a href="/issue1/paul-siegell.html"> <em>Fraternity Brothers </a>/  </em><span class="announce-author">Paul Siegell</span>  </li>
                         
                        </ul>
                       
                    
                    
                    
                    </div></div>
            </div>
        </div>

       
    </div>
    
    
   
   

</div>