<div class="read-more-block">
  <div class="flex-me-baby">

    <div class="read-more-arrow ">
      <a href="#"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="" style="display:inline-block;margin-bottom: 0px;"><span
          class="read-more-author">Amanda Balter</span></a>
    </div>

    <div class="read-more-text">READ<br>MORE</div>

    <div class="read-more-arrow "><a href="#"><span class="read-more-author">Amanda Balter</span><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite"
          width="45" alt="" style="display:inline-block;margin-bottom: 0px;"></a></div>

  </div>
</div>