<div id="sidebar">
        <div id="sidebar-content-wrap">
            <a href="http://www.genre2.org"><img src="/img/3-250.jpg" width=200 height=200 alt="" style="display:block;margin: 0 auto;"></a>
            
                <div id="wordlogo"><a href="http://www.genre2.org" id="wordlogo-a">
                    genre<span>2</span>
            
                </div>
            </a>
             <nav>
                <ul>
                    
                    <a href="{{site.url}}/current-issue.html"><li>current issue</li></a>
                    <a href="{{site.url}}/masthead.html"><li>masthead</li></a>
                    <!-- <a href="{{site.url}}/archives.html"><li>archives</li></a> -->
                    <a href="{{site.url}}/submit.html"><li>submit</li></a>
                    
                </ul>
            </nav>  
        </div>
    </div>