<div id="sidebar">
        <div id="sidebar-content-wrap">
            <img src="/img/3-250.jpg" width=200 height=200 alt="" style="display:block;margin: 0 auto;">
            <div id="wordlogo">
                genre<span>2</span>
        
            </div>
             <nav>
                <ul>
                    <a href="{{site.url}}/about.html"><li>about</li></a>
                    <a href="{{site.url}}/current-issue.html"><li>current issue</li></a>
                    <!-- <a href="{{site.url}}/archives.html"><li>archives</li></a> -->
                    <a href="{{site.url}}/submit.html"><li>submit</li></a>
                    
                </ul>
            </nav>  
        </div>
    </div>