
#issue-1-contents {
    ul {
        list-style-type: none;
    }
    .homepage-content-author {
        font-size: 1.3rem;
        font-family: $font-display-block;
    }
    .homepage-content-genre {
        font-family: $font-display-slick;
        font-size: 1.3rem;
    }
}

.homepage-subsection {
    h3 {
        font-family: $font-display-block;
        font-size: 1.7rem;
        small {
            font-family: $font-lora;
            font-size: 1.3rem;
        }
    }
}
.homepage-subsection-little-text { font-family: $font-lora;
    font-size: 1.3rem;

}
#mission-homepage-section {align-self: center;}

.current-issue {
    font-family: $font-display-slick;
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.cover-image-wrap {
    position: relative; img{border: 1px solid $tealish;}
}

.cover-image-text {
    position: absolute;
    top: 0px;
    left: 175px;
    // width: 100%; // text-align: center;
    font-size: 7rem; // color: green;
    font-family: $font-display-block; // color: rgba(255,255,255)
}
 