
#issue-1-contents {
    ul {
        list-style-type: none;
    }
    .homepage-content-author {
        font-size: 1.3rem;
        font-family: $font-display-block;
    }
    .homepage-content-genre {
        font-family: $font-display-slick;
        font-size: 1.3rem;
    }
}

.homepage-subsection {
    margin-bottom: 2.5rem;
    h3 {
        font-family: $font-display-block;
        font-size: 1.2rem;
        // background: $fun-colors-mixed-light;
        // padding: 5px;
        small {
            font-family: $font-lora;
            font-size: 1.3rem;
        }
    }
}
#mission-homepage-section{text-align: center;}
.homepage-subsection-little-text { font-family: $font-lora;
    font-size: 1.3rem;font-weight: normal;

}
.homepage-subsection-littler-text {font-family: $font-lora;font-size:1.1rem;font-weight: normal;}

.current-issue {
    font-family: $font-display-slick;
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

#homepage-page-content{margin-top: 2rem;}
.homepage-interview-question {font-family: $font-lora;font-size: 1rem;padding-left: 1rem;margin-bottom: 5px;}
.homepage-interview-answer {padding-left: 1rem;margin-top: 5px;}

.colorful-heading {
    background-color: $fun-color-2;
    padding: 1rem;
    // color: $fun-color-1;
    font-family: $font-display-block;
    
}