 .centered-homepage-body {
     align-items: center;
     justify-content: center;
 }

 .homepage-card-1 {
    //  background: $fun-color-1-dirty;
//  height: 500px;
 }

 #g2 {
     background: $fun-color-2;
     color: $fun-color-1-dirty;
     font-size: 3rem;
        padding: 1rem;
     font-family: $font-display-block;
 }

 #g {
     background: $fun-color-1-dirty;
     color: $fun-color-2;
     font-size: 3rem;
     font-family: $font-display-slick;
 }