// #homepage-content-wrap {max-width: 1024px;display: block;margin: 0 auto;}

// .page-content {max-width: 1024px;display: block;margin: 0 auto;padding: 0px 2rem;}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .page-content {
    flex: 1;
 
    
    
  }

 #homepage-page-content {
   margin-top: 1rem;
 }