@media (min-width:631px){#the-clock{float: right;}}
@media (max-width:630px){#the-clock{margin: 0px auto;}}
@media (max-width:599px){.fs13r{font-size: 1rem;}.fs11r{font-size: .8rem;}.thick-bar{padding: 1.5rem}.some-fancy-shit{padding: 1.5rem;}}