 
.bar-with-author{
    background:$fun-color-2;
     
    font-family: $font-display-block;
    font-size: 1.3rem;
   
    color:$fun-colors-mixed-light;
}

.thick-bar {
    width: 100%; text-align: center;
    padding: 2rem 0;
    margin-top: -2px;
}