$body-color: #515151;
 
$link-color: #111;
$link-border-bottom: 1px solid #487360;

$heading-spacing: 0.5rem ;
$section-spacing: 2rem ;
$sidebar-width: 18rem ;

$large-breakpoint: 49rem ;
$large-font-size: 1.25rem ;
$sidebar-sticky: true ;

$font-display-slick: 'zeichenregular';
$font-display-block: 'zeichen_sansregular';
$font-lora: 'Lora',Cambria, Cochin, Georgia, Times, Times New Roman, serif;

$tangerine: #d56235;
$tarragon: #7c812d;
$red: #862628;
$bluegrass: #5a9e8f;
$pewter: #96939a;
$wasabi:#dacd43;
$tealish:#69cdb8;
$pank:#fbc4ba;
$tealish-light:#e0f1e3;



// $fun-color-1:#ff652f;
// $fun-color-1:#e7717d;
// $fun-color-1:#fd6421;
// $fun-color-1:#cc914f;
$fun-color-1:$tangerine;

// $fun-color-2:#14a76c;
// $fun-color-2:#176f93;
$fun-color-2:$tealish;

$fun-color-3:$bluegrass;

$fun-colors-mixed-light: mix($fun-color-1,$fun-color-2,50%);

$selection-color: $wasabi;