$body-color: #515151;
 
$link-color: #111;
$link-border-bottom: 1px solid #487360;


$background-1: url(/img/backgrounds/circles-light.png);
$background-2: url(/img/backgrounds/concrete-texture.png);
$background-3: url(/img/backgrounds/funky-lines.png);
$background-4: url(/img/backgrounds/light-grey-terrazzo.png);
$background-5: url(/img/backgrounds/stonehaven.png);
$background-6: url(/img/backgrounds/stripes-light.png);
$background-7: url(/img/birds/birds_001.png);
$background-8: url(/img/backgrounds/photo-1528465242296-e6860f1c21b6.jpeg);

$body-background:  url(/img/backgrounds/circles-light.png);
body {background:$background-2;}

$font-display-slick: 'zeichenregular';
$font-display-block: 'zeichen_sansregular';
$font-lora: 'Noto Serif KR','Lora',Cambria, Cochin, Georgia, Times, Times New Roman, serif;

// 

/* font-family: 'Noto Serif KR', sans-serif;

font-family: 'Noto Serif JP', sans-serif;

font-family: 'Libre Baskerville', serif;

font-family: 'Noto Serif', serif;

 */

$tangerine: #d56235;
$tarragon: #7c812d;
$red: #862628;
$bluegrass: #5a9e8f;
$pewter: #96939a;
$wasabi:#dacd43;
$tealish:#69cdb8;
$pank:#fbc4ba;
$tealish-light:#e0f1e3;



// $fun-color-1:#ff652f;
// $fun-color-1:#e7717d;
// $fun-color-1:#fd6421;
// $fun-color-1:#cc914f;
$fun-color-1:$tangerine;
$fun-color-1-dirty:#bc6644;

// $fun-color-2:#14a76c;
// $fun-color-2:#176f93;
$fun-color-2:$tealish;

$fun-color-3:$bluegrass;

$fun-colors-mixed-light: mix($fun-color-1,$fun-color-2,62%);
$fun-colors-mixed-lighter: mix($fun-color-1,$fun-color-2,50%);


$selection-color: $wasabi;