$body-color: #515151;
 
$link-color: #111;
$link-border-bottom: 1px solid #487360;

$heading-spacing: 0.5rem ;
$section-spacing: 2rem ;
$sidebar-width: 18rem ;

$large-breakpoint: 49rem ;
$large-font-size: 1.25rem ;
$sidebar-sticky: true ;

