---
author_id: 015
author_name: E. Anna Keith
genre:  poetry
usual_genre_grammared:  Academic
issue: 2
title: Three Poems 
categories: issue2
layout: creative-post
private_email:  
twitter:  
website:  
bio: <span class="author-bio-name">E. Anna Keith</span> is a writer and academic living in Pittsburgh, Pennsylvania, with two cats, one tortoise, and many jars of peanut butter. Her poetry has appeared or is forthcoming in <span class="italics">Constellate Jounal and Bone and Ink Lit Zine</span>. She tweets about writing and existential angst at <a href="https://www.twitter.com/ekeithwrites">@ekeithwrites</a>. 
interview_1: Academic writing; the academy is, for better or worse, my intellectual home, and I feel compelled to immerse myself in its prose. 
interview_2: Retrospectively, I have been writing poetry since middle school, but didn’t recognize it as such. I took a hard break from writing creatively in grad school, which is why I consider academic writing my primary genre. But I felt called to poetry again several months ago, and these pieces were the first I penned in several years. The exhilaration of writing poetry again compels me to keep going. 
interview_3: The freedom, the lack of required linearity; it’s both difficult and affirming to work outside of academic structures. As I write, I’m finding that a key is to embrace that openness, not let it frighten you. And I believe academic and poetic writing are siblings in many ways–both use, and need, language’s infinity, and thrive in the beautiful spaces where its genres cross paths. 
---



<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>
<h2 class="piece-title">
    
                1932
</h2>

            <span class="poem">
                I want to tell you about my grandmother. <br>
                She is a new version now,<br>
                she is maybe her seventh<br>
                self. Some days are better<br>
                than others, every hour every minute,<br>
                a reintroduction. I was here<br>
                last week. When Jody last disappeared<br>
                they found her in the basement, crying<br>
                for her West Virginia among the shadows<br>
                she calls men. I was up late that night<br>
                with my mother, discussing latches<br>
                and things that don’t bind<br>
                but necessarily keep. The house is old.<br>
                But Jody’s good days are Christmas,<br>
                temporary hours and surreal to witness.<br>
                They tell me it is like an implosion.<br>
                In hers I see withering and paths<br>
                that lead down to the end of the driveway.<br>
            </span>

            <h2 class="piece-title">
                the last time I called home

            </h2>
            <span class="poem">
                I don’t do it much anymore. <br>
    clarity is hard to come by,<br>
    harder in these parts. the last time<br>
    I dialed Grandad answered.<br>
    how are you? I asked. four<br>
    three eight. sober, he says.<br>
    six one. it’s his rehearsed answer<br>
    so I laugh on cue. do you want to talk<br>
    to Gram. five nine.<br>
    Grandad is a Depression child.<br>
    in the mountains, I called her daily.<br>
    four years old<br>
    at the kitchen telephone,<br>
    its cord <br>
    curled over my arms.<br>
    1998 and they introduce<br>
    area codes. three extra presses<br> 
    before our three two nine.<br>
    <br>
    in the Rust Belt twenty years later<br>
    with a four beginning my three.<br>
    where are you, Gram asks.<br>
    are you here. five. I’m not,<br>
    I say. her voice breaks.<br>
    can I talk to Grandad?<br>
    six two. I’m sorry. seven.<br>
    she never says. two.<br>
    my name. four.<br>
            </span>

            <h2 class="piece-title">learning to pause</h2>

<span class="poem">

    I am learning to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;make moments <br>
expect the emptiness like a winter’s day<br>
but make&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;minutes like<br>
seeing robins nest in the silver oak.<br>
flashes like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when Gram laughs.<br>
<br>
learning to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;make color.<br>
I put it on her fingernails<br>
my brother as a model.<br>
talk softly about Bible stories.<br>
I am considering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ruth and Naomi.<br>
the space between presences<br>
and time. and love.<br>

</span>
            
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue2/amie-whittemore.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue2/elizabeth-burton.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>