---
author_id: 016
author_name: Elizabeth Burton
genre: Personal Essay
usual_genre_grammared: Fiction 
issue: 2
title:  Bluebird
categories: issue2
layout: creative-post
private_email:  elizabeth.burton7369@gmail.com
twitter:  eburton_writes
website:  elizabethburtonwriter.com
bio: <span class="author-bio-name">Elizabeth Burton</span> lives in Kentucky with her husband, two willful dogs, and two birds, each of which reminds her of wonder every day. She holds an MFA in fiction from Spalding University and other graduate degrees from the University of Texas at Austin and Stony Brook University. She is currently an English professor at Hopkinsville Community College. Her fiction has appeared recently in <span class="italics">Roanoke Review, Chautauqua, The Louisville Review, Valparaiso Fiction Review, Ellipsis Zine’s Three, The MacGuffin, formercactus,</span> and <span class="italics">FlashBack Fiction</span>, and her first novel will be coming out in 2020 from Lioness Press.
interview_1:  Fiction is my preferred genre because I love the way it gives me a chance to write about anything. I can put myself back in time or forward into the future; I can even create a universe where time isn't relevant. I appreciate the fact that anything is possible.
interview_2:  When I found a little glass bluebird in an unexpected place, I knew I had to tell the story of why its discovery was so important to me. I first tried to get it out of my system by writing about it in fiction, but the piece felt flat, and the more I thought about it, the more it seemed obvious that I would have to write about it as nonfiction.
interview_3:  I was astonished by how vulnerable I felt, both during the writing process and as I sent the piece out into the world. CNF feels so exposed, as if I'm not just being judged on my writing, but on my life in general! I also had trouble deciding on a structure that melded the two essential parts of the story effectively. It was extremely satisfying to finally settle on something that worked.
---
 
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>

            <p class="post-paragraph first-p">The sign outside the restaurant advertised the best tamales in town. Which wasn’t necessarily saying much in Lexington, Kentucky. The city was known for being the Horse Capital of the World, not the tamale capital.</p>
            <p class="post-paragraph">The place was surrounded by a fence, the wire cattle kind. It enclosed a covered porch from the ground all the way up to the roof, where it was nailed to the building. Every other link on the fence was adorned with a steel horseshoe: the real deal, I could tell as we got closer, each one worn unevenly from having been on a horse’s hoof. I felt a sudden kinship with whoever had collected those shoes, possibly gathering them up over time from the dirt of a pasture. In my years running my family’s small horse farm, I’d spent many an hour searching the fields for lost shoes. These shoes were all turned open-side-up for luck, an old horseperson’s superstition. This had to be the luckiest place in Lexington.</p>
            <p class="post-paragraph">And I needed luck.</p>
            <p class="post-paragraph">Back when the economy crashed in 2008, my life crashed with it. I was unemployed for a long time and I lost everything—big things like the family farm and even small things like the glass bluebird my mother treasured.</p>
            <p class="post-paragraph">I felt unmoored without <span class="italics">things</span>. I had nothing but memories to prove I’d done any living. I remember telling my soon-to-be husband that I wouldn’t bring much to the marriage but myself and a giant, hairy dog who shed. He’d just gone through a divorce and left everything he owned behind. We were two people starting out a life together with nothing physical to tie us to our pasts. In the earliest days of our marriage, it was freeing: I didn’t have to wonder whether he’d bought that painting with his ex-wife and kept it, not because he enjoyed the scene, but because her eyes were gleaming especially brightly that day. He didn’t have to question if my shell bracelet from an old lover still took my mind back to the seductive slap of water against a boat’s prow.</p>
            <p class="post-paragraph">I wasn’t thinking about things or memories that sunny June day when we went into Fresh Market restaurant. The porch leading into the sitting area was filled with brightly-colored paper flowers and other festive decorations. We walked in between two life-sized driftwood horse sculptures, one in the middle of a running step with its mouth open, the other in a more gentle walking stance. I could imagine it ambling into the barn at feeding time, certain something good would be waiting. I ran my finger over its weathered muzzle, smiling as I remembered the gentle creatures I’d taken care of for so many years.</p>
            <p class="post-paragraph">A bell rang as we opened the door. The room was dark, even on a day with such brilliant sunshine. The ceiling was covered in piñatas of all shapes and sizes and I had a sudden urge to buy one shaped like a friendly donkey. Rescue it from the beating that was inevitably coming. The walls were lined with dark shelves upon which rested every kind of knick-knack imaginable. There were dolls outfitted in colorful dresses, glass figurines, jewelry. It was more than my mind could take in.</p>
            <p class="post-paragraph">Our food came quickly and we concentrated on that to avoid the riot of color. We were talking about nothing when I glanced over at one of the shelves and gasped. I rose from the table to pick up an abstract glass bluebird, one just like the bird my father had once given my mother.</p>
     
            <p class="post-paragraph">My mother was thirty-six when I was born, the same age I was when she died. She’d fought against being overprotective as a mother, but I didn’t realize she struggled so. When I was a thirteen, for instance, I couldn’t understand why she didn’t want me to hang out at the mall with my friends. She sat me down in my pink and purple bedroom and told me a story.</p>
            <p class="post-paragraph">“I was the only one of my brother and sisters who had blue eyes, so everyone called me the little bluebird,” she began. “It made me feel safe, special.</p>
            <p class="post-paragraph">“When I was three, all that changed. A neighbor man who used to read Bible verses with my father found me out playing in the woods by our house, alone. I was gathering little sticks to make a fort for my doll. He took my hand and led me deeper into the woods. And when we were further in than I’d ever been before, he raised up my dress, pulled down my panties and touched me. It went on for what seemed like a long time, and it hurt, but eventually it was over. I tried to run away, even though I wasn’t sure which direction to run in, but he grabbed me from behind and pulled me back to him.” At this, she turned her face away from me, though I could still see her reflection in the mirror above my vanity. Her eyes were latched onto my rainbow pastel bedspread.</p>
            <p class="post-paragraph">“He held a rock up to my head and raised his arm to strike me with it. Just then, my sister called to me, wondering where I was. I got up the courage to yell back. He dropped the rock and let me go, with the threat never to tell anyone what had happened.”</p>
            <p class="post-paragraph">A shudder went through her body. Her hands tightened around the bedspread and twisted it into a wad. I wasn’t sure whether they moved in anger or fear.</p>
            <p class="post-paragraph">“I didn’t tell anyone. Not when my sister asked me where I’d been or my parents wondered why I was so withdrawn. Mother noticed that I was sore down there when she bathed me that night, but in those days, molestation wasn’t something you’d think about. Not the way it is now.”</p>
            <p class="post-paragraph">She turned back to me and we hugged. It didn’t occur to me then to ask if anyone else knew or if she told when she got older.</p>
            <p class="post-paragraph">It was only when I was thirty, as we lay together in my parents’ bed, reeling from the news that my father had been struck and killed by a car while crossing the street, that she told me the rest of the story. We clung to each other, silent in shock and disbelief. Then she asked me to go get the glass bluebird off her dresser.</p>
            <p class="post-paragraph">It was heavy, cold in my palm the way I imagined my father’s body was. Mama reached for it. With one hand, she cradled it to her breast; the other hand was clasped around mine as I climbed back into bed beside her. Her head on the pillow, staring straight ahead, she said she’d never told anyone about what the man had done until she met Daddy. “It was because I felt dirty,” she said.</p>
            <p class="post-paragraph">“Every time anyone called me ‘the little bluebird,’ I would go somewhere and hide to cry. Because I wasn’t the little bluebird any longer. I was something ugly, something that couldn’t be named. I didn’t deserve to be that innocent little bird.</p>
            <p class="post-paragraph">“I told all this to your father. I didn’t want him to marry me under false pretenses.”</p>
            <p class="post-paragraph">When I protested, she shook her head. “Oh, I knew by that time it wasn’t my fault. But I wanted him to know about the dirty feeling, about the fear. I carried both of them with me all the time. I loved him so much I was willing to let him go if he thought that was too much to handle.”</p>
            <p class="post-paragraph">I waited.</p>
            <p class="post-paragraph">“He came back the next day with this bird. He told me, ‘You’re my little bluebird and always will be. Hold onto it any time you feel dirty or scared.’”</p>
            <p class="post-paragraph">We lay in bed and cried until we drifted off into an exhausted sleep, the glass bluebird between us.</p>
           
            <p class="post-paragraph">I explained all this to my husband as we sat over the remains of our tamales, and we agreed that a glass bluebird needed to grace our home.</p>
            <p class="post-paragraph">It sits now in a place of honor. When the sun hits it just right, the glass is iridescent, sending purples, blues, and greens to shimmer like a gift all across the room. When I think of my parents, I always think of them together, the way they wanted to be. I wonder if they can see me, if they know I’ve learned to value things when they come, release them when they go. And I wonder if wherever they are, there are bluebirds flying overhead.</p>         
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue2/e-anna-keith.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue2/fabrice-poussin.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>