---
author_id: 017
author_name: Fabrice Poussin
genre: Photography
usual_genre_grammared: Poetry
issue: 2
title: Fabrice Poussin Photgraphy
categories: issue2
layout: creative-post
private_email:  fpoussin@shorter.edu
twitter:  
website:  
bio: <span class="author-bio-name">Fabrice Poussin</span> teaches French and English at Shorter University. He is the author of novels and poetry, and his work has appeared in <span class="italics">Kestrel, Symposium, The Chimes</span>, and many other magazines. His photography has been published in <span class="italics">The Front Porch Review and San Pedro River Review,</span> as well as other publications. 
interview_1: 
interview_2: 
interview_3: 
---

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-margin-x">
    <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
      <h2 class="piece-title"> </h2>

      <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-12">
        <span class="image-toptitle">Anything</span>  <a
            rel="gallery-1"
            href="/issue2/images/poussin/Anything.JPG"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_Anything.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/Anything.JPG"
              class="swipebox hi-rez"
              >slideshow
              <img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a
                href="/issue2/images/poussin/Anything.JPG"
                >hi-res&nbsp;<img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>
        <div class="cell small-12 large-12">
            <span class="image-toptitle">Gentle Skies</span>  <a
            rel="gallery-1"
            href="/issue2/images/poussin/Gentle Skies.jpg"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_Gentle Skies.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/Gentle Skies.jpg"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a
                href="/issue2/images/poussin/Gentle Skies.jpg"
              >
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>
        <div class="cell small-12 large-12">
            <span class="image-toptitle">Hoping</span> <a
            rel="gallery-1"
            href="/issue2/images/poussin/Hoping.jpg"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_Hoping.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/Hoping.jpg"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a
                href="/issue2/images/poussin/Hoping.jpg"
              >
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>

        <div class="cell small-12 large-12">
            <span class="image-toptitle">Brewing</span> <a
            rel="gallery-1"
            href="/issue2/images/poussin/Brewing.jpg"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_Brewing.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/Brewing.jpg"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a href="/issue2/images/poussin/Brewing.jpg">
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>

        <div class="cell small-12 large-12">
            <span class="image-toptitle">Fire In Her Eyes</span> <a
            rel="gallery-1"
            href="/issue2/images/poussin/Fire in Her Eyes.JPG"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_Fire in Her Eyes.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/Fire in Her Eyes.JPG"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a href="/issue2/images/poussin/Fire in Her Eyes.JPG">
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>

        <div class="cell small-12 large-12">
            <span class="image-toptitle">End of a Road</span> <a
            rel="gallery-1"
            href="/issue2/images/poussin/End of a Road.jpg"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_End of a Road.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/End of a Road.jpg"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a href="/issue2/images/poussin/End of a Road.jpg">
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>

        <div class="cell small-12 large-12">
            <span class="image-toptitle">At Last</span> <a
            rel="gallery-1"
            href="/issue2/images/poussin/At Last.jpg"
            class="swipebox"
          >
            <img
              src="/issue2/images/poussin/thumbnail_At Last.jpeg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/poussin/At Last.jpg"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <div class="hi-rez center">
              <a href="/issue2/images/poussin/At Last.jpg">
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div>
          </div>
          <!--aloha-->
        </div>
      </div>
      <div class="person-bio-box">
        {{ page.bio }}
      </div>

      {%include sharing-buttons.html%}
      <div class="read-more-block">
        <div class="flex-me-baby">
          <a href="/issue2/elizabeth-burton.html"
            ><img
              src="/img/icons8-back-80.png"
              class="left-arrow animated pulse infinite"
              width="45"
              alt="Read prior piece"
              style="display:inline-block;margin-bottom: 0px;"
          /></a>

          <div class="read-more-text">READ<br />MORE</div>

          <a href="/issue2/hannah-sundman.html"
            ><img
              src="/img/icons8-forward-80.png"
              class="right-arrow animated pulse infinite"
              width="45"
              alt="Read next piece"
              style="display:inline-block;margin-bottom: 0px;"
            />
          </a>
        </div>
      </div>
      <!-- end read more block -->
    </div>
    <div class="cell medium-12 large-4">

        <div class="no-interview show-for-large">
            <div>
               
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                <img src="/img/icons8-rhombus-80.png" alt=""  >
            </div> <div>
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                <img src="/img/icons8-rhombus-80.png" alt=""  >
            </div> <div>
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                <img src="/img/icons8-rhombus-80.png" alt=""  >
                
            </div>
            
            
        </div>
         
                </div>

  
  </div>
</div>
{%include js-for-lightbox.html%}
