---
author_id: 019
author_name: Jim Zola
genre: Photography
usual_genre_grammared: Poetry
issue: 2
title: Jim Zola Photography
categories: issue2
layout: creative-post
private_email:  jimzola@hotmail.com
twitter: 
website:
bio: <span class="author-bio-name">Jim Zola</span> has worked in a warehouse, as a security guard, in a bookstore, as a teacher for Deaf children, as a toy designer for Fisher Price, and currently as a children's librarian. Published in many journals through the years, his publications include a chapbook -- <span class="italics">The One Hundred Bones of Weather</span> (Blue Pitcher Press) -- and a full-length poetry collection -- <span class="italics">What Glorious Possibilities</span> (Aldrich Press). He currently lives in Greensboro, NC
interview_1: Poetry -- because words become music.
interview_2: My mind works in strange ways. For years I imagined my eyes were cameras.
interview_3: I was surprised at how similar photography is to poetry.
---

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-margin-x">
    <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
      <h2 class="piece-title"> </h2>

      <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-12">
          <a
            rel="gallery-1"
            href="/issue2/images/zola/FullSizeRender.jpg"
            class="swipebox"
          >
            <img
              src="/issue2/images/zola/FullSizeRender.jpg"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/zola/FullSizeRender.jpg"
              class="swipebox hi-rez"
              >slideshow
              <img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <!-- <div class="hi-rez center">
              <a
                href="/issue2/images/Blackberry Winter 8 X 8 Claybord-SandyCoomer.jpg"
                >hi-res&nbsp;<img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div> -->
          </div>
          <!--aloha-->
        </div>
        <div class="cell small-12 large-12">
             <a
            rel="gallery-1"
            href="/issue2/images/zola/IMG_6965.JPEG"
            class="swipebox"
          >
            <img
              src="/issue2/images/zola/IMG_6965.JPEG"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/zola/IMG_6965.JPEG"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>

            <!-- <div class="hi-rez center">
              <a
                href="/issue2/images/Crossing 18 X 24 Claybord-SandyCoomer.jpg"
              >
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div> -->
          </div>
          <!--aloha-->
        </div>
        <div class="cell small-12 large-12">
            <a
             rel="gallery-1"
             href="/issue2/images/zola/IMG_7639.JPEG"
             class="swipebox"
           >
             <img
               src="/issue2/images/zola/IMG_7639.JPEG"
               class="gallery-image"
               alt=""
           /></a>
 
           <!--aloha-->
           <div class="slideshowy flex-me-baby">
             <a
               rel="gallery-2"
               href="/issue2/images/zola/IMG_7639.JPEG"
               class="swipebox hi-rez"
               ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
             /></a>
 
             <!-- <div class="hi-rez center">
               <a href="/issue2/images/Storm Cell8 X 8 Claybord-SandyCoomer.jpg">
                 <img src="/img/lnr-link.svg" alt="link icon"
               /></a>
             </div> -->
           </div>
           <!--aloha-->
         </div>
        <div class="cell small-12 large-12">
             <a
            rel="gallery-1"
            href="/issue2/images/zola/IMG_7428.JPEG"
            class="swipebox"
          >
            <img
              src="/issue2/images/zola/IMG_7428.JPEG"
              class="gallery-image"
              alt=""
          /></a>

          <!--aloha-->
          <div class="slideshowy flex-me-baby">
            <a
              rel="gallery-2"
              href="/issue2/images/zola/IMG_7428.JPEG"
              class="swipebox hi-rez"
              ><img src="/img/lnr-film-play.svg" alt="Browse icon" class=""
            /></a>
<!-- 
            <div class="hi-rez center">
              <a
                href="/issue2/images/Japanese Koi 6 X 6 Wood Panel-SandyCoomer.jpg"
              >
                <img src="/img/lnr-link.svg" alt="link icon"
              /></a>
            </div> -->
          </div>
          <!--aloha-->
        </div>

       
      </div>
      <div class="person-bio-box">
        {{ page.bio }}
      </div>

      {%include sharing-buttons.html%}
      <div class="read-more-block">
        <div class="flex-me-baby">
          <a href="/issue1/sheila-squillante.html"
            ><img
              src="/img/icons8-back-80.png"
              class="left-arrow animated pulse infinite"
              width="45"
              alt="Read prior piece"
              style="display:inline-block;margin-bottom: 0px;"
          /></a>

          <div class="read-more-text">READ<br />MORE</div>

          <a href="/issue1/tony-mancus.html"
            ><img
              src="/img/icons8-forward-80.png"
              class="right-arrow animated pulse infinite"
              width="45"
              alt="Read next piece"
              style="display:inline-block;margin-bottom: 0px;"
            />
          </a>
        </div>
      </div>
      <!-- end read more block -->
    </div>

    <div class="cell medium-12 large-4">
      {%include piece-sidebar.html%}
    </div>
  </div>
</div>
{%include js-for-lightbox.html%}
