---
author_id: 020
author_name: K.B. Carle
genre:  Creative Nonfiction
usual_genre_grammared:  Fiction
issue: 2
title:  Waze Navigational Guide to Color Absorption
categories: issue2
layout: creative-post
private_email:  kellie.carle@gmail.com
twitter:  kbcarle
website:  http://kbcarle.wordpress.com/
bio: <span class="author-bio-name"></span>
interview_1: needs filled in
interview_2: needs filled in
interview_3: needs filled in
---
 
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>
            <h3>
                Let’s Get Started:
            </h3>
            <p class="post-paragraph first-p">
                You enter the world furious. Your mother loves you immediately, cradling your body the color of peanut shells against her dark brown skin. You will always recognize her as your protector, your father as your journalist, keeping track of your life contained in the endless stacks of manila folders he files in desk drawers and his bedside table.
               
            </p> 

            <h3>
                Turn Right:
            </h3><p class="post-paragraph first-p">
                
    Your parents struggle with your silence, your lips curled and your body tucked in the tight crevices they can no longer maneuver. You know how to avoid trouble, to scale wooden stools to reach the candy your mother places on top of the fridge. Cut the carpet to mimic the movements of your father’s yellow lawn mower. Dance with your black balloon floating over an air vent. Try to will some of its blackness onto you, its color seeping into your skin. You wield magic, until you don’t. Rubber remnants slap your face and you wail until your mother comes, your head hidden in her neck, still trying to absorb her color.
            </p>

            <h3>
                Hazard Reported Ahead:
            </h3>
<p class="post-paragraph first-p">
    You are your grandmother’s caramel girl who waits for sweet potato pie or for <span class="italics">The Price is Right</span> to end. You wonder why Bob never sells Beanie Babies or a trip to the Power Chamber so you can meet the Yellow Ranger. Your grandmother is cinnamon and lavender. You nuzzle into her side, ready for her to read to you. Ballerinas are your definition of beauty though you hate the color pink. Black words streamline over glossy illustrations. You trace the letters of your name, listen to your grandmother read your future. When she stops, she tells you the girl with the blonde curls, pale skin, and blue eyes can never be you. You are her caramel baby, even though you’ve just been erased from your personalized story.
</p>

<h3>
    Accident Reported Ahead:
</h3>
<p class="post-paragraph first-p">
    The fingernails of strangers scratch your scalp and along the surface of your skin without invitation, but you haven’t mastered the power of your voice. Your parents send you to camp where the whiteness of your name is a topic for lectures. The girls surround you, take turns listing all the people they know who have your name, none ending with “ie,” but that doesn’t matter. Your skin tone does not exist, meaning you do not truly exist, until you admit that your entire being is a lie. They list all the people they know and the various spellings to prove that you are not the black girl you claim to be. You are reduced to sawdust shavings surrounded by polished pearls.
</p>

<h3>
    Police Reported Ahead:
</h3><p class="post-paragraph first-p">
    
    Though your body welcomes the sun, your skin remains the color of fresh brewed coffee mixed with vanilla cream. The smell lingers on your mother’s tongue, the morning she has you place your palms on the counter, spread your legs, and pats you down. She teaches you control and patience. Eyes straight, even when the flash of red and blue startles you. Hands still, though your palms may sweat when a car door slams behind you. Smile and be polite when a knuckle taps on glass. Smile despite the appearance of mace and guns. Always know the sequence of numbers on their left chest pocket if they ask you to step out of the car. You feel her body tremble when she pulls you close. You don’t mind the lapse in air, your mind trying to capture the image of your mother sifting through her anxiety when you’ve seen her badge and photos of her in uniform from the years she keeps to herself.
</p>

<h3>
    Red-Light Camera Reported Ahead:
</h3><p class="post-paragraph first-p">
    
    Pennies, nickels, dimes, and quarters. Scratch offs and receipts. Your father is computations written on paper rolls processed through his Casio calculator. You share his high-yellow status described in the footnotes of history books that discuss the sacrifices of war but not the erasure of culture, identity, or your ancestry. You become your father’s reflection, caught in the bitter whispers regarding his success. You thought you were the only one, but now you worry the whispers will never stop. That you’ll continue being an outsider, drawn from labels other craft to identify you. If only you knew how to frighten people with a laugh like the Joker or your father.
</p>

<h3>
    Heavy Traffic Reported Ahead:
</h3><p class="post-paragraph first-p">
    
    They call you <span class="italics">Oreo</span>. Facing your mother’s full length mirror, you try to control the sound of your words as they pass between your lips. You make people nervous when you speak. When you fail, you taste coffee for the first time in hopes of darkening your skin. Ask your mother why she didn’t give you her height or color. Roll your eyes when she tells you, you’re perfect. You are meant to be a representation of your race so you must be educated. You make people nervous because of your education. You live in a world of opposites, a world where straight hair is preferred no matter how badly your scalp burns.
</p>

<h3>
    Make a U-Turn:
</h3><p class="post-paragraph first-p">
    
    People enter your house, eyes wide, fingers prodding at glass shielding the work of black artists hanging from your walls. The questions rise above you like the sentences from your ballerina book. <span class="italics">Why do you have so much black art?</span> You tell them to look at you, to just see your surface.
</p>


<h3>
    Your Destination Is on the Horizon:
</h3><p class="post-paragraph first-p">
    
    You are a woman of words. A woman who finds herself in the books she once abandoned, though the discoveries are spotty, at best. You are cautious about the company you keep. Withhold apologies and tears. People say you’re mean or cold, but you are a force they cannot prepare for nor take advantage of. You are Black, in all the forms you choose to describe your color. You still seek out the crevices of your world, a master of hiding, but you love to watch their eyes wander, their fingers twitch, and the sweat form. Your presence will always be known.
</p>



        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/dave-housley.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/morris-collins.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>