---
author_id: 022
author_name: Mateo Perez Lara
genre:  Creative Nonfiction
usual_genre_grammared:  Poetry
issue: 2
title:  Mortal Kombat
categories: issue2
layout: creative-post
private_email:  damnmateo@yahoo.com
twitter: killeremm 
website:  N/A
bio: <span class="author-bio-name">Mateo Lara</span> is a queer latinx originally from Bakersfield, California. They received their B.A. in English at CSU Bakersfield. They are currently working on their MFA in Poetry at Randolph College in Lynchburg, VA. Their poems have been featured in <span class="italics">Orpheus, EOAGH, Empty Mirror,</span> and <span class="italics">The New Engagement</span>. They are an editor for <a href="https://rabidoak.com/"><span class="italics">RabidOak</span></a> online literary journal & Zoetic Press.
interview_1: My preferred genre is poetry. I think I hide behind my words a lot, but also I have so many thoughts and feelings about particular things, and the best way to say them is through poetry. I just like to run around and create magic and abstraction, and poetry helps me do that.
interview_2: I wanted to document an important moment of my journey in a new city with a new friend.
interview_3: I think the challenge has always been just being honest with myself and saying something clear and not hiding behind a simile or metaphor. Trying to be honest and open and not being afraid of it. 
---
 
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>
            <span class="dedication">--for Matthew Atwood</span> 
            <p class="  mb2 italics text-centered">
               <br>
                “the morning tastes like bruises”—Erika L. Sanchez
            </p>

            <p class="post-paragraph first-p">
                Something shimmers at the corner of my eye, another day holds itself up, dangling sanity like a carrot, another day to double down on expectations and learning to thrive in a city who wants me dead.
            </p> <br>
            
<p class="post-paragraph first-p">
    I know it does—I hear its growling when I sleep.
</p><br>
<p class="post-paragraph first-p">
    It has been five months and I have no new friends. I live day to day wondering if my Lyft drivers will kill me and if I’ll ever have enough money to take one here and there.
</p><br>
<p class="post-paragraph first-p">
    My nights consist of guests looking for a fix and a light glinting off my phone, a quiet hotel, a way to make money and my ideas all jagged because functioning in a city who still celebrates the Civil War is pushing a brown boy to his edge.
</p><br>
<p class="post-paragraph first-p">
    I have edges all over and I’ve yet to smooth them out.
</p><br>
<p class="post-paragraph first-p">
    I’ve been looking for a therapist out here, but it all seems like a dream, a really good one, healthy living, a smile that traps a boy and me together, something to love with all its sting and bite. I wish getting my degree were easier, but I see white deities and devils trying to lead me places I never intended to go.
</p><br>
<p class="post-paragraph first-p">
    What did Jesus do in the desert so long?
</p><br>
<p class="post-paragraph first-p">
    What am I to live for when I don’t believe in the sin or the blood or the cross I wear around my neck?
</p><br>
<p class="post-paragraph first-p">
    It’s fatal, it’s fatality, like those moves I make in the game I play every night before work. Ridding my mind of its violent intentions to harm itself, I harm the characters I fight.
</p><br>
<p class="post-paragraph first-p">
    I do my bidding like all witches do, with fire.
</p><br>
<p class="post-paragraph first-p">
    I’ve had a dream of leaving the country…picking up and going, living a life full of ridges, a cracked image of who I was before this storm of bitterness.
</p><br>
<p class="post-paragraph first-p">
    I play video games every day to ease the tension in my body. I imagine all my coworkers think I’m too much or try to be, since I’m from California and they’ve never seen a proper setting sun. I’m used to differences. I’m used to fighting my way out of a brutality or a fatality, learning to spit poison or stay reckless to protect myself but in the process puncture myself further.
</p><br>
<p class="post-paragraph first-p">
    I trade sleep for boys who never comfort me or ease the wounds.
</p><br>
<p class="post-paragraph first-p">
    It’s not their job, but goddammit, I wish it were.
</p><br>
<p class="post-paragraph first-p">
    My new coworker has helped me, slowly, reimagine a world of safety. Though, I know, that’s a stretch—more of the community dies each day. 
</p><br>
<p class="post-paragraph first-p">
    I read  an article that said another one of our transgender-sisters was killed. I think about sunsets and time, and I feel like crying because the world sharpens its teeth and smirks, and our president doesn’t even care.
</p><br>
<p class="post-paragraph first-p">
    What is there to live for when the best of us is gone?
</p><br>
<p class="post-paragraph first-p">
    My coworker is a veteran, and he’s beautiful. His trauma etches his smile, the skin that lays itself to be better—he calls me bud and I hate that, but I know he’s sincere and doesn’t harm me.
</p><br>
<p class="post-paragraph first-p">
    He smokes weed and drinks cosmic dust IPA, he sucks at Mortal Kombat and I fucking rule with D’Vorah. I wish life were this simple all the time.
</p><br>
<p class="post-paragraph first-p">
    A way to let a fire burn down, settle itself, boys with trauma finding solace in each other’s company, let it be like this, unafraid and unhindered by society. I pray though I don’t like to, that his scene is better, that we treat each other with this fucking kindness.
</p><br>
<p class="post-paragraph first-p">
    Less blood, more brevity, heal and resurrect those beautiful members of our community trying to survive each day. They live as the true deities, and they are the best at the real-world mortal kombat. I sense darkness when I shut my eyes and I’m trying to see a world where I have moments like me and my coworker had on a cold night in Lynchburg.
</p><br>
<p class="post-paragraph first-p">
    Simply existing, a little cosmic dust in the space of demons, looking to destroy our lives.
</p><br>
<p class="post-paragraph first-p">
    I wish we could put on our best gear and fight these things off, like how easy it is to kill them in video games, beat their asses and walk away.
</p><br>
<p class="post-paragraph first-p">
    I wish it were that easy, how we wish.
</p><br>
<p class="post-paragraph first-p">
    I work overnight while the world knocks itself out for the day, I see something shimmer at the corner of my eye, I feel torn to shreds and my phone blinks and it’s someone I love asking how I am, it’s raining back home, the cold is what they miss.
</p><br>
<p class="post-paragraph first-p">
    I miss them. I slowly catch myself down, resisting an emotion like waves beating against a cliff, push and give, the weight slowly putting me out and now, I’m wanting to brutally fight it to death, this feeling—to pick my favorite character and have a go and beat it into my favorite fatality move. FINISH HIM.
</p><br>

        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue2/kelle-groom.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue2/meghan-phillips.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>