---
author_id: 023
author_name: Meghan Phillips
genre: Poetry
usual_genre_grammared: Flash Fiction
issue: 2
title: The One Who Wasn’t Attacked, Goes to Help the One Who Was (5 Jaws Erasures)
categories: issue2
layout: creative-post
private_email: meghanjcarlton@gmail.com
twitter: mcarphil
website: https://meghan-phillips.com/
bio: <span class="author-bio-name"></span>Meghan Phillips is the editor-in-chief for Third Point Press and <span class="italics">SmokeLong Quarterly</span>. Her work has appeared or is forthcoming in <span class="italics">wigleaf, Passages North, and Strange Horizons</span>. You can find more of her writing at <a href="http://meghan-phillips.com">meghan-phillips.com</a> and her tweets <a href="https://www.twitter.com/mcarphil">@mcarphil</a>. She lives in Lancaster, PA, with her husband and son.
interview_1: I primarily write flash fiction. I think it the constraints of the genre work well with how my brain works. I am anxious and a bit obsessive. I get stuck on small details and strange facts. Flash is all about a kind of microscopic level attention to every element of the story.
interview_2: I started these Jaws poems at an informal black out poetry studio hosted by the incredible writer and human, Erin Dorney. My son was around 3 months old at the time, and I felt totally and completely incapable of any kind of creative work and also like I needed to get out of my house and at least be around people making stuff. The genre itself was what interested me, finding a poem in an existing text. The fact that these are Jaws poems is all circumstance. Jaws was just one of the many books Erin had brought for people to work with.
interview_3: Poetry in general is kind of mysterious to me. I don't understand line breaks, for one. I'm lucky to be friends with some amazing poets, and one of them told me that a line break will happen when you honor the phrase, and at the time, I was like "yes, absolutely" and also "I have no idea what that means." The actual logistics of erasing the text on the page is also really tricky. I "ruined" so many poems by over-erasing. And once you Sharpie over something, it's not coming back.
---

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-margin-x">
    <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
      <h2 class="piece-title">{{ page.title }}</h2>
      <br />

     

      <h2 class="piece-title">
        The town broke
      </h2>
      <span class="poem">
        Okay. Say you typed “attack!” <br />
        That part of the summer, <br />
        those brief weeks, jumped alive. <br />
        A boom of carpenters, waitresses. <br />
        That summer rolls enough to wreck <br />
        the
        town.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
        tide <br />
        would move. Everyone remained. <br />
        <p class="source-note">
          Source: Jaws by Peter Benchley; Doubleday, Garden City, NY: 1974.
          pg. 33 – 34.
        </p>
        <p><a href="/issue2/images/phillips/The Town Broke.pdf" class="erasure-link">View the original erasure  <img src="/img/lnr-link.svg" alt=""
style="display:inline;max-height:14px"                /></a></p>
      </span>

      <h2 class="piece-title">Ellen arrived</h2>
      <span class="poem"
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Turned
        in, <br />
        took off. Mixing <br />
        already in the mirror— <br />
        her face her bath herself her teeth. <br />
        The bedroom pulled back her eyes, <br />
        her eyes as he approached. <br />
        <p class="source-note">
          Source: Jaws by Peter Benchley; Doubleday, Garden City, NY: 1974. pg.
          173.
        </p>
        <p><a href="/issue2/images/phillips/Ellen Arrived.pdf" class="erasure-link">View the original erasure  <img src="/img/lnr-link.svg" alt=""
            style="display:inline;max-height:14px"                /></a></p>
      </span>

      <h2 class="piece-title">Brody sensed</h2>
      <span class="poetry">
        The complication of authority <br />
        that arrival, the long day. <br />
        Find the tooth. Go through <br />
        it all in darkness: <br />
        come back, <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;turn home,
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;clean
        up. <br />
        <p class="source-note">
          Source: Jaws by Peter Benchley; Doubleday, Garden City, NY: 1974. pg.
          89.
        </p>    <p><a href="/issue2/images/phillips/Brody Sensed.pdf" class="erasure-link">View the original erasure  <img src="/img/lnr-link.svg" alt=""
            style="display:inline;max-height:14px"                /></a></p> <br>
      </span>

      <h2 class="piece-title">
          Ellen assumed
      </h2>
<span class="poetry">A slam-bam waitress. <br>
The table, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     the waitress,<br>
the table. The seat as she stood.<br>
The waitress—I hope nobody ever<br>
knows me that well.</span><br>

<p class="source-note">
    Source: Jaws by Peter Benchley; Doubleday, Garden City, NY: 1974. pg. 173.
</p>
<p><a href="/issue2/images/phillips/Ellen Assumed.pdf" class="erasure-link">View the original erasure  <img src="/img/lnr-link.svg" alt=""
    style="display:inline;max-height:14px"                /></a></p> <br>


<h2 class="piece-title">
    Brody thought
</h2><span class="poetry">
The town, this trip— <br>
Say&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you’re not a pocket.<br>
Say&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;he reached,<br>
Put it&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;here.<br>
Said&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           good luck.</span><br>

<p class="source-note">
    Source: Jaws by Peter Benchley; Doubleday, Garden City, NY: 1974. pg. 267.
</p><p><a href="/issue2/images/phillips/Brody Thought.pdf" class="erasure-link">View the original erasure  <img src="/img/lnr-link.svg" alt=""
    style="display:inline;max-height:14px"                /></a></p> <br>

      <div class="person-bio-box">
        {{ page.bio }}
      </div>

      {%include sharing-buttons.html%}
      <div class="read-more-block">
        <div class="flex-me-baby">
          <a href="/issue2/mateo-perez-lara.html"
            ><img
              src="/img/icons8-back-80.png"
              class="left-arrow animated pulse infinite"
              width="45"
              alt="Arrow icon"
              style="display:inline-block;margin-bottom: 0px;"
          /></a>

          <div class="read-more-text">READ<br />MORE</div>

          <a href="/issue2/michael-tager.html"
            ><img
              src="/img/icons8-forward-80.png"
              class="right-arrow animated pulse infinite"
              width="45"
              alt="Arrow icon"
              style="display:inline-block;margin-bottom: 0px;"
            />
          </a>
        </div>
      </div>
      <!-- end read more block -->
    </div>

    <div class="cell medium-12 large-4">
      {%include piece-sidebar.html%}
    </div>
  </div>
</div>
