---
author_id: 024
author_name: Michael B. Tager
genre:  Poetry
usual_genre_grammared: Fiction  
issue: 2
title:  Marilyn Haunting
categories: issue2
layout: creative-post
private_email:  michaelbtager1@gmail.com
twitter:  ideosinkrasee
website:  http://www.michaelbtager.com/
bio: <span class="author-bio-name"></span>
interview_1: needs filled in
interview_2: needs filled in
interview_3: needs filled in
---
 
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>
<span class="poem">Marilyn wakes <br>
    eats corn flakes from<br>
    chipped ceramic bowl<br>
    a bougie mansion’s abandoned kitchen<br>
    <br>
    Marilyn sings into the void<br>
    claws her hair<br>
    into ringlets of ice<br>
    she knows she blazes<br>
    <br>
    Marilyn waves <br>
    on the way to the grocery store<br>
    she’s still famous and the banshee in the kangol, <br>
    the turnip-worshiping shade lose their tongues <br>
    <br>
    Marilyn wings it every day<br>
    homeless undead, no PO Box<br>
    she follows a retiree from the produce section<br>
    sits shotgun, enjoys Patsy Cline <br>
    <br>
    Marilyn takes Ambien with ethereal fingers<br>
    watchin<span class="italics">g Law & Order</span> <br>
    over old folks’ fragile shoulders <br>
    she sparkles at every solved mystery <br>
    <br>
    Marilyn sleeps on a sofa <br>
    dreaming<br>
    praying to the sun and moon and to Death<br>
    (clearly on sabbatical)<br>
    <br>
    Marilyn wakes <br>
    eats oatmeal<br>
    in the kitchen; “Hi, I’m Norma, hello hello”<br>
    and they only see the wall through her ribcage</span>
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue1/dave-housley.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue1/morris-collins.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>