---
author_id: 026
author_name: Tara Isabel Zambrano
genre:  Poetry
usual_genre_grammared:  Flash Fiction
issue: 2
title:  The Shape of Us
categories: issue2
layout: creative-post
private_email:  taraisabelzambrano@gmail.com
twitter:  theinnerzone
website:  https://taraisabelzambrano.wixsite.com/website
bio: <span class="author-bio-name">Tara Isabel Zambrano</span> works as a semiconductor chip designer. Her work has been published in <span class="italics">Tin House Online</span>, <span class="italics">The Southampton Review, Slice, Bat City Review, Yemassee, Passages North,</span> and others. She is assistant flash fiction Editor at <span class="italics">Newfound.org</span>. Tara moved from India to the United States two decades ago and holds an instrument rating for single engine aircraft. She lives in Texas.
interview_1: Flash fiction because that's how I think, framing sentences from images, unraveling a story. It's fun, challenging, and deeply satisfying to convey a human condition in a few words.
interview_2: I used to write poetry before I started writing flash. I came back to it so my flash fiction is sharper, cleaner. Writing a poem, to me, is more of a cerebral labor than fiction is. It make me think/see things, characters, the universe in a focused light. 
interview_3: Getting the rhythm and the structure right. The sharp, stinging details. The need of expression rather than arriving at a conclusion. Reading it ten days later, and feeling the shiver down the spine. 
---
 
<div class="grid-container">

    <div class="grid-x grid-padding-x grid-margin-x">
        <div class="cell small-12 large-8 lets-read-it-2 animated delay-p3 fadeIn">
            <h2 class="piece-title"> {{page.title}} </h2>
            <span class="poem">
                A summer stretched too long. Barren hours <br>
                splinter under our feet. Jet streams <br>
                <br>
                make a crossword puzzle. Bored weathermen fill the grid <br>
                with clear skies. There is no water for grass to grow. <br>
                <br>
                Celebrities bury their DNA on the moon, blue <br>
                like ours. Light years away, the rings <br>
                <br>
                of Saturn disintegrate deep oceans into dark matter.<br>
                I hear you sleep talk—calling time<br>
                <br>
                a traitor, always leaving us dry. On a hot, bright day, <br>
                we go for a swim and sing <span class="italics">Star Wars</span>. Urge <br>
                <br>
                each other to fly.<br>
            </span>
            
        
            <div class="person-bio-box">
                    {{page.bio}}
                </div>
    
                {%include sharing-buttons.html%}
                <div class="read-more-block">
                    <div class="flex-me-baby">
                        <a href="/issue2/sandy-coomer.html"><img src="/img/icons8-back-80.png" class="left-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;"></a>
    
                        <div class="read-more-text">READ<br>MORE</div>
    
                        <a href="/issue2/amie-whittemore.html"><img src="/img/icons8-forward-80.png" class="right-arrow animated pulse infinite" width="45" alt="Arrow icon" style="display:inline-block;margin-bottom: 0px;">
                        </a>
    
    
    
                    </div>
                </div> <!-- end read more block -->
            </div>
         
   

        <div class="cell medium-12 large-4">
                 
    
                {%include piece-sidebar.html%}
    
            </div>
</div>
 </div>