--- 
title: home 
--- 
{%include head.html%}
<!-- this uses flexbox grid -->
<body>
    {%include header.html%}

    <div class="row center-xs">
            <div class="col-xs-10">
                <div class="box">
                        <div class="row">
                                <div class="col-xs-12
                                            col-lg-8">
                                    <div class="box">
                                        <section id="current-issue-section">
                                            <h2 class="current-issue">current issue</h2>
                                            <div class="flex-me-baby">
                                                <div class="cover-image-wrap">
                                                    <img src="/img/01_pattern.jpg" alt="genre2 issue 1 cover" width="350">
                                                    <h3 class="cover-image-text">1</h3>
                                                </div>
                        
                                                <div id="issue-1-contents">
                                                    <ul>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/amanda-balter.html">Amanda Balter</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">poetry</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/ann-lightcap-bruno.html">Ann Lightcap Bruno</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">poetry</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/morris-collins.html">Morris Collins</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">poetry</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/chelsea-dingman.html">Chelsea Dingman</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">essay</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/dave-housley.html"></a>
                                                                <a href="/issue1/dave-housley.html">Dave Housley</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">poetry</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/yi-shun-lai.html">Yi Shun Lai</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">visuals</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/gregory-lawless.html">Gregory Lawless</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">fiction</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/sue-lawrence.html">Sue Lawrence</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">photography</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/tony-mancus.html">Tony Mancus</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">fiction</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/robert-james-russell.html">Robert James Russell</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">graphic memoir</span>
                                                        </li>
                                                        <li>
                        
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/paul-siegell.html">Paul Siegell</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">fiction</span>
                                                        </li>
                                                        <li>
                                                            <span class="homepage-content-author">
                                                                <a href="/issue1/sheila-squilante.html">Sheila Squilante</a>
                                                            </span> /
                                                            <span class="homepage-content-genre">essay</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                        
                                        <div class="col-xs-12
                                                    
                                                    col-lg-4">
                                            <div class="box">  <section id="mission-homepage-section" class="homepage-subsection">
                                                    <h3>Our mission is simple:
                                                        <small>We publish writers’ best work outside their primary genre. Because pushing our boundaries and moving beyond
                                                            our comfort zones creates the possibility for diverse, exciting, and unexpected results.
                                                        </small>
                                                    </h3>
                                        
                                                </section></div>
                                        </div>
                                    
                        
                        
                            </div>
                </div>
            </div>
        </div>





    <div id="homepage-content-wrap">



      

        <section id="featured-homepage-section" class="homepage-subsection">
            <h3>Featured Piece:
                <small>Undressing the Trees, an essay by the poet Chelsea Dingman</small>
            </h3>
            <p>In this piece Dingman does a bunch of snazzy shit that will blow you're fucking mind and your regular mind. Check
                it out!</p>
        </section>

    </div>




</body>

</html>